[2018-06-15 21:08] cwdcwd opened #1 "Additional endpoint needed"
We need one more endpoint added to the swagger and the build to accommodate file uploads as submissions. This should be a `POST` like the existing submission posting event but take a file in as the submission.

[2018-06-16 12:54] callmekatootie commented on #1
@cwdcwd Where should the file be uploaded to?

[2018-06-16 13:03] callmekatootie commented on #1
The current POST /submissions api appears to take in the URL where the file was uploaded: https://tc-submission-api-dev.herokuapp.com/docs/#!/Submissions/createSubmission

Does that not meet the requirement? I am guessing here that the file is uploaded initially to the cloud, the url of this which is then passed to the above.

This ticket is asking for an endpoint to upload the file to the cloud i

[2018-06-16 16:29] callmekatootie commented on #1
Should I update existing POST /submission to download the file mentioned in the url to S3, in addition to providing the new endpoint as well?

[2018-06-16 16:47] cwdcwd commented on #1
No. The processor will do that after the post event.

[2018-06-17 05:34] callmekatootie commented on #1
Stupid question, but this endpoint will only take in the file right? I mean will it also take in the `challengeId`, `memberId` etc? (I am confused about the bit if its possible to send more attributes other than the file, I am inclined to say its not but just being sure)

[2018-06-18 09:10] callmekatootie commented on #1
[Reference](https://stackoverflow.com/questions/10899384/uploading-both-data-and-files-in-one-form-using-ajax). I think I may be wrong. It is indeed possible to submit both file and data at the same time.

So, to reframe my question - should the endpoint only accept file or the other attributes too

[2018-06-18 13:38] cwdcwd commented on #1
it should take the other attributes so that we know what to put in the db when it logs the uploaded file's URL

[2018-06-21 15:52] callmekatootie commented on #1
Contest has been created - https://www.topcoder.com/direct/contest/detail?projectId=30066809

[2018-06-21 16:56] cwdcwd commented on #1
thanks @callmekatootie !

[2018-06-22 15:01] callmekatootie commented on #1
@cwdcwd Pull Request ready for your review - https://github.com/topcoder-platform/submissions-api/pull/2

[2018-06-29 04:52] callmekatootie opened #3 "Auth middleware issues"
[Reference](http://apps.topcoder.com/forums/?module=Thread&threadID=920286&start=0&mc=8#2276615)

Swagger spec asks to return 401 if user is not passing a token but it appears that the [middleware](https://github.com/appirio-tech/tc-core-library-js) that we are using sends 403 instead of 401

[2018-06-29 04:54] callmekatootie opened #4 "GET /submissions/{submissionId} behaviour"
Swagger spec asks to restrict this endpoint to only members with roles user, admin and copilot.

We need to add additional checks on the role "user" - at the moment, OR only allows members that submitted and received a passing score to access other user's submissions

[2018-07-02 07:18] callmekatootie opened #5 "Integrate DynamoDB with the ReviewType and Submission related endpoints"
Ticket for PR to implement endpoints for Submission and ReviewType resources and integrate dynamodb.

[2018-07-02 07:46] callmekatootie opened #6 "GET all rows and Pagination implementation in DynamoDB"
At the moment, with our implementation for the endpoints using Dyanmodb, we are not implementing pagination and GET /resources (get all rows) endpoints.

Relevant discussion [here](http://apps.topcoder.com/forums/?module=Thread&threadID=920230&start=0&mc=1#2276278) and [here](http://apps.topcoder.com/forums/?module=Thread&threadID=920231&start=0&mc=1#2276279)

tl;dr Reading all rows is a costly op

[2018-07-03 04:10] callmekatootie opened #8 "Dockerize the app"
We need to have a docker implementation of the app to deploy to AWS

[2018-07-03 04:24] callmekatootie opened #9 "Integrate with ElasticSearch"
- Integrate the GET `/resources` endpoints to interface with elastic search.
- Integrate the POST `/resources` endpoints to also pass the payload to elastic search

While GET will directly interface with ES, other methods will push to event bus instead, which in turn updates ES

Create a separate processor for this app that reads off the event bus and pushes the data to the processor

[2018-07-06 13:30] callmekatootie opened #10 "Integrate with kafka"
When a Sub API receives a Submission then it will create a DB record in 'Submission' table and then push `CREATE_LEGACY_SUBMISSION` Event to Event Bus.

[2018-07-06 13:33] callmekatootie opened #11 "Make host of swagger spec dynamic"
The specification will be hosted on both dev and prod instances.

The `host` and `basePath` attributes should be set dynamically in such a case, depending on the environment its hosted in

[2018-07-06 13:55] callmekatootie opened #12 "Add legacySubmissionId to the Submission API payload"
For the `Submission` resource, update the schema to accept `legacySubmissionId` as well

[2018-07-06 13:57] callmekatootie commented on #12
This will be an optional field

[2018-07-06 14:15] callmekatootie commented on #1
This ones merged in so closing this.

[2018-07-06 14:15] #1 closed

[2018-07-06 14:31] callmekatootie commented on #10
Also another note. It needs to use the https://github.com/appirio-tech/tc-core-library-js/blob/feature/m2mtoken/lib/auth/m2m.js#L23 library to generate the machine token before making the events api call

[2018-07-08 12:25] callmekatootie opened #13 "Implement ReviewSummation and Review resources"
Ticket to capture changes carried out for the new resoruces

[2018-07-08 14:15] callmekatootie commented on #5
This has been carried out. Closing

[2018-07-08 14:15] #5 closed

[2018-07-09 06:59] callmekatootie commented on #10
The payload to pass to event is:

[code]

[2018-07-09 07:00] callmekatootie commented on #10
The endpoint for the bus api is http://api.topcoder-dev.com/v5/bus. Right now, it's giving 502 issue but checking out why

[2018-07-09 07:02] callmekatootie commented on #10
Note that the M2M token is meant for use when passing the payload to the events api. It is used to generate the token.

The reason is Submission API needs to make a request to `/events` with the generated token. It specifically needs a machine 2 machine token (thus the name m2m) because the M2M has a "scopes" payload where as the user JWT has a "Roles".

[2018-07-10 04:30] callmekatootie opened #15 "Add phaseId to the submission api payload and pass to event bus"
The `submissionPhaseId` will be passed to Submission API at the time of creating submission, which the api will then post to the event bus

[2018-07-12 07:37] callmekatootie commented on #13
Changes are in. Closing ticket

[2018-07-12 07:37] #13 closed

[2018-07-13 12:43] callmekatootie commented on #15
This has been carried out. Closing.

[2018-07-13 12:43] #15 closed

[2018-07-13 12:44] callmekatootie commented on #11
This has been carried out. Closing.

[2018-07-13 12:44] #11 closed

[2018-07-13 12:44] callmekatootie commented on #12
This has been carried out. Closing.

[2018-07-13 12:44] #12 closed

[2018-07-13 12:44] callmekatootie commented on #10
This has been carried out. Closing.

[2018-07-13 12:44] #10 closed

[2018-07-13 12:45] callmekatootie opened #18 "Create Tests for the app"

[2018-07-16 13:33] cwdcwd commented on #9
`GET`s should happen directly from ES. it's the write operations of the API that will publish to the bus for updating ES via processor

[2018-07-16 14:04] callmekatootie commented on #9
Yup. Sorry, corrected

[2018-07-19 04:20] callmekatootie opened #19 "Check for auth scopes too"
M2M tokens will have auth scopes and not auth roles

We need to update the code - https://github.com/topcoder-platform/submissions-api/blob/develop/app.js#L65

[2018-07-19 17:07] cwdcwd commented on #19
@callmekatootie we should support both token types. User JWTs with `roles` and M2M JWTs with `scope`

[2018-07-24 14:07] callmekatootie opened #22 "Update GET /resources/{resourceId} to read off ES too"
Currently, we will only be interfacing with Elasticsearch for the GET `/resources` endpoint.

We should also be using Elasticsearch for GET `/resources/{resourceId}` endpoints too (it reads off Dynamodb currently)

[2018-07-31 12:17] callmekatootie opened #25 "Sign ES requests"
[Reference](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-ac.html)

[2018-07-31 12:45] callmekatootie commented on #6
This has been fixed after Elasticsearch integration was carried out. Closing.

[2018-07-31 12:45] #6 closed

[2018-07-31 12:46] callmekatootie commented on #9
This has been fixed. Closing...

[2018-07-31 12:46] callmekatootie commented on #18
Tests for the app are now in. Closing.

[2018-07-31 12:46] #18 closed

[2018-07-31 12:46] callmekatootie commented on #18
Relevant PR - https://github.com/topcoder-platform/submissions-api/pull/23

[2018-07-31 12:47] callmekatootie commented on #19
This has been fixed. Closing

[2018-07-31 12:47] #19 closed

[2018-07-31 12:48] callmekatootie commented on #25
This has already been carried out.

[2018-07-31 12:48] #25 closed

[2018-08-07 16:52] callmekatootie opened #28 "Filetype is a constant"
@BadalZ @cwdcwd We are currently setting the file type of the file passed when creating a submission to zip.

Question: Is that ok or do we need to infer the file type from the uploaded file and that it will not always be a zip?

[2018-08-07 19:49] cwdcwd commented on #28
good question. I think we should default to zip if we can't figure out what it is. I'm 50/50 on if we should strictly allow only zip files or not.
CC @ajefts for any opinion there.

[2018-08-08 11:39] callmekatootie commented on #28
Related PR - https://github.com/topcoder-platform/submissions-api/pull/29

- If a submission is created by passing a file, everything is fine
- If a submission is created by passing a url, file type is not known. Due to this, submission processor faces issues.
- Setting file type to zip for now when a url is passed during submission creation.

[2018-08-15 16:15] callmekatootie opened #31 "Validate file type"
Validate that the file type that the user passes matches the actual file type of the submission file.

[2018-08-17 07:03] BadalZ commented on #8
Docker is ready and PR is merged so closing the issue

[2018-08-17 07:03] #8 closed

[2018-08-17 09:09] callmekatootie commented on #22
Closing ticket. This is now in.

[2018-08-17 09:09] #22 closed

[2018-08-17 12:16] #31 closed

[2018-08-18 07:35] callmekatootie commented on #4
Below is applicable only to user's with access `Topcoder user`. [Relevant Code](https://github.com/topcoder-platform/submissions-api/blob/develop/src/routes/SubmissionRoutes.js#L27)

The task would be:

- When a request arrives for GET `/submissions/:submissionId`, get the submission. Let's call this submission A. Make a note of `challengeId`
- Now, get the authenticated user's `memberId` through

[2018-08-18 07:36] callmekatootie commented on #4
One issue here would be that different scorecards have different passing scores. Perhaps we use `isPassing` on ReviewSummation instead of aggregate score to distinguish who is allowed to access other user's submissions...

[2018-08-20 22:13] cwdcwd commented on #4
@callmekatootie that works.
We need, at a minimum, the user check in before Thursday so please expedite this one

[2018-08-21 03:57] cwdcwd commented on #3
opened ticket [here](https://github.com/appirio-tech/tc-core-library-js/issues/13) to resolve

[2018-08-21 04:58] callmekatootie commented on #4
We need to update tests as well here.

[2018-08-21 06:14] callmekatootie opened #35 "Tie Review and ReviewSummation for easy filtering"
We need to find a way to perform advanced filtering on the GET `/submissions` endpoint, such as get all reviews and submissions for a contest.

Currently, that would require us to make multiple api calls. Instead, we need to use ES capabilities and try to retrieve this information in a single database read

[2018-08-21 09:12] sharathkumaranbu commented on #4
Also, In F2F challenges, Other member submissions are not accessible in the current OR

[2018-08-21 10:36] callmekatootie commented on #4
I am not sure about the other points. Re: Appeal Response phase end, I am guessing that `isPassing` is set to true on the review summation only at the end of the appeals response phase?

[2018-08-21 12:41] sharathkumaranbu commented on #4
Yeah, I believe reviewSummation will be created only after end of appeals response phase

[2018-08-21 15:56] sharathkumaranbu commented on #35
@callmekatootie @cwdcwd Is it ok to have nested filters like `review.score=92`? This will make the ES filter code generic

[2018-08-21 17:18] cwdcwd commented on #4
so if a reviewer is assigned to a challenge then I believe it should show up on an authenticated call to the challenge resources endpoint, ie:

- `http://api.topcoder.com/v3/challenges/30069749/resources`
- `http://api.topcoder.com/v3/challenges/30069831/resources`

 Appeals Response, and other times, should be findable on the phases endpoint. ie:

-`http://api.topcoder.com/v3/challenges/30069749/

[2018-08-21 17:30] callmekatootie commented on #4
Which token to use with the above endpoints? I used a m2m token and got an error...

[2018-08-22 03:33] cwdcwd commented on #4
try with your user JWT

[2018-08-22 03:42] sharathkumaranbu commented on #4
@cwdcwd Is it valid to configure user token to access the challenge resources?

Which user token will we use in this scenario?

How about identifying challenge type? F2F challenges doesn't allow other User neither to see the score card or to download the submission.

[2018-08-22 03:52] sharathkumaranbu commented on #4
Also I tried the above end point for a challenge I registered with my JWT token, It throws 403

[2018-08-22 04:38] sharathkumaranbu commented on #4
@callmekatootie I tried using my JWT token for a challenge in which I was assigned as a reviewer. But even in that challenge, resources end point returned 403.

I believe resources are available only for Copilot or Administrator role not for other users. Only Copilot / Administrator can see the reviewers assigned to the challenge, observers of the challenge, etc..

Reviewers don't have such access

[2018-08-22 04:45] callmekatootie commented on #4
Ah yes. Makes sense. Let me see what we can do here

[2018-08-22 05:38] callmekatootie commented on #35
@sharathkumaranbu For now, filters that support the following will do. We can add later:

- find all submissions for a contest
- find all reviews for the contest
- find submission for a specific member

[2018-08-22 10:49] callmekatootie opened #38 "userId data type"
Topcoder uses integer as the data type for a user id. This is reflected in the jwt token as well.

This ticket is to log that our app supports both integer and guid, but, If we use the current auth library, then it does not return guid for the user id. Something to take up later.

[2018-08-22 11:13] sharathkumaranbu commented on #4
Just a note from current OR scenarios

1. In challenges with screening phase like UI Prototype, Assembly - If the User have passed Screening, he or she can download the winning submission even if they have failed Review

2. In F2F challenges, one member cannot download the submission of another member even if the member is the winner of the F2F (Member can't even see the scorecard of the another m

[2018-08-23 05:49] callmekatootie opened #39 "Populate submissionPhaseId"
If [this](https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L148) line is false, we need to call the challenges API and get the SubmissonPhase’s Id from `https://api.topcoder-dev.com/v3/challenges/[entity.challengeId]/phases`.

[2018-08-23 06:00] callmekatootie commented on #39
For this ticket, we need the tests to be running successfully as well. Adjust any test cases as needed

[2018-08-23 06:01] callmekatootie commented on #39
@sharathkumaranbu is working on this ticket. Tagging him in case we make any updates here

[2018-08-23 19:20] sharathkumaranbu opened #42 "M2M token handling"
Right now createdBy / updatedBy will be set only for User JWT tokens.

For M2M token, it will be set as null since authUser.handle is undefined. In case of M2M tokens, it should be set to `machine`

Created issue based on discussion with @cwdcwd

[2018-08-23 19:26] cwdcwd commented on #42
thanks @sharathkumaranbu
if you could resolve elegantly, that would be much appreciated

[2018-08-23 19:34] sharathkumaranbu commented on #42
@cwdcwd Sure. :) https://github.com/topcoder-platform/submissions-api/pull/43

[2018-08-23 20:12] ajefts opened #44 "Design submission logic update"
When a design submission comes in, we need to store the submissions as separate submissions.  i.e.  A single user can have more than 1 submission and all of them count separately - they are reviewed separately and can win prizes for each sub.  This is different than dev.

[2018-08-23 20:12] ajefts commented on #44
fyi @cwdcwd

[2018-08-24 02:28] #44 closed

[2018-08-24 02:29] ajefts commented on #44
moved to https://github.com/topcoder-platform/legacy-sub-processor/issues/3

[2018-08-24 02:30] cwdcwd commented on #42
@callmekatootie FYI for payment when you're back online

[2018-08-24 02:38] cwdcwd commented on #42
@sharathkumaranbu I had an idea. I think, for M2M tokens, instead of the 'machine' constant we should set it to the value of the JWT's `sub` field. This is the 'subject' of the M2M token and will likely be unique per service and properly identifiable

[2018-08-24 02:39] cwdcwd opened #45 "Adjustment of phaseId selection"
Get the phases from the challenge end point as we currently do but then:

- loop phases
- if "checkpoint" phase is open, kick out of loop & use that id. checkpoint takes priority over regular "submission" phase
- continue: if "submission" phase is open kick out and use that id
- default to null if neither are found

[2018-08-24 02:40] cwdcwd commented on #45
@sharathkumaranbu could you take this one on?

[2018-08-24 03:45] sharathkumaranbu commented on #45
@cwdcwd Sure

[2018-08-24 03:47] sharathkumaranbu commented on #42
@cwdcwd Fine. I will update accordingly

[2018-08-24 03:50] cwdcwd commented on #42
thanks!

[2018-08-24 03:50] cwdcwd commented on #45
excellent. thanks so much

[2018-08-25 06:02] RiteshTC opened #48 "Api returning incomplete JSON"
The api results are truncated.
eg
https://api.topcoder.com/v3/submissions/?filter=reference={"type":"CHALLENGE","id":"30069511"}"

[2018-08-25 06:06] sharathkumaranbu commented on #48
@RiteshTC I think you are raising issue in a wrong repo. This Submission API is v5 and yet to be deployed I guess.

[2018-08-25 06:40] #48 closed

[2018-08-28 20:50] cwdcwd commented on #9
@callmekatootie single record `GET` [here](https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/ReviewTypeService.js#L21) seems to pull off of DB and not ES

[2018-08-28 20:52] cwdcwd commented on #9
same for [submissions](https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L51) seems only the multiples are coming from ES

[2018-08-29 02:39] sharathkumaranbu commented on #9
@cwdcwd _getReviewType and _getSubmission are helper functions to check the presence of a record in Database.

There is a function called _checkRef which uses those functions. Initially there was a requirement that when we create a review or review summation, we need to validate the existence of typeId and submissionId in payload.

Hence these functions are created. It is not used for GET endpoint

[2018-08-30 03:52] #45 closed

[2018-08-30 03:52] #42 closed

[2018-08-30 03:52] #39 closed

[2018-08-30 03:53] #35 closed

[2018-08-30 03:54] callmekatootie commented on #4
@cwdcwd This needs some love.

[2018-08-30 10:19] callmekatootie commented on #9
1. So the concern here is that all READ operations should be off ES only. In this case, the functions in question are reading off the db. This is an internal function and not exposed - that bit is understood. However, we need to still use ES for checks too. DB for now will appear to be more of a backup database

[2018-08-30 10:32] sharathkumaranbu commented on #9
So even for internal check of existence of ID, We should only ES not DB right?

[2018-08-30 10:34] callmekatootie commented on #9
That’s right

On Thu, 30 Aug 2018 at 4:02 PM, Sharathkumar Anbu <notifications@github.com>
wrote:

[2018-08-30 13:35] sharathkumaranbu commented on #9
@callmekatootie @cwdcwd I have corrected the code but there are issues in fixing E2E test cases.

1. Existence of a resource is now checked from ES

2. Initially existence of a resource is checked from DynamoDB itself, hence if the record is not available in ES based on the presence in DynamoDB, the app will update / delete records in the database.

3. Since `submission-processor-es` is an indepen

[2018-08-30 13:45] callmekatootie commented on #9
I think in this case, we need to change the test cases. This api is only responsible for publishing events into the bus api. Not verifying that the data is actually created / updated in ES. So I guess what we need to test here is not if the data does really get updated, but if the api prepares the event payload correctly for any create / update request.

This would mean that we are using dynamodb

[2018-08-30 14:16] sharathkumaranbu commented on #9
It's not about testing whether the data has been updated or not.

When we trigger any PUT or PATCH or DELETE request, first step would be to verify the existence of ID. Initially existence check was done at DB but now at ES that's the issue.

Data which is in DB will not be in ES yet.

[2018-08-30 15:27] cwdcwd commented on #9
Are we mocking calls to ES in our test? How's that work?

[2018-08-30 15:29] sharathkumaranbu commented on #9
For unit tests, ES calls will be mocked. For e2e tests  everything will be real

[2018-08-31 17:20] BadalZ opened #53 "Update ES for each Create/Update/Delete event"
We need to remove data latency to avoid misconfiguration in other system and as part of that change we have finalised to do the below changes.

Instead, We need to Update ES for each Create/Update/Delete events just after DB operation from Submission API itself.

So each Create update or delete operation will be perform on database first and then it will do the ES operation.

[2018-08-31 17:31] BadalZ opened #54 "Swagger Update - legacySubmissionId to legacySubmissionId"
We need to update swagger doc for legacySubmissionId to legacyUploadId to support both normal submission and final fix.

[2018-08-31 17:46] sharathkumaranbu commented on #53
@BadalZ Yesterday @cwdcwd and me were fixing an issue with Submission-processor-es.

After uploading a submission, There are two updates happening in parallel. One will be from legacy-submission-processor and one will be from AV Scan.

ES will not handle parallel updates and it will reject one of the updates. We have fixed the issue by setting the concurrency to 1 so that `submission-processor-es`

[2018-09-01 05:49] callmekatootie commented on #54
`legacyUploadId`: This is a new attribute that we will be adding to `submission`. Data type will be same as `legacySubmissionId`

[2018-09-01 05:53] callmekatootie commented on #53
Perhaps we look into checking the version of the document before updating: https://www.elastic.co/guide/en/elasticsearch/guide/current/optimistic-concurrency-control.html. Thoughts?

[2018-09-04 15:27] ajefts opened #56 "Provide "download all" feature"
Provide an option to download all submissions.  The use case is a copilot/ca/admin wants to download all of the submissions for a particular challenge phase in one bundle instead of individually downloading each submission.  For example, download a bundle of all checkpoint submissions for challenge 123.

[2018-09-04 15:28] ajefts commented on #56
@cwdcwd fyi, let's chat about this one.  It's not top of the list, but a nice add within a couple weeks...

[2018-09-04 15:29] ajefts opened #57 "Name downloaded files with submission ID"
When submissions are downloaded, the naming convention should be <<submission_id>>.zip.  This helps the copilots identify which downloads pertain to which submissions for a given challenge.

[2018-09-04 15:30] ajefts commented on #57
fyi @cwdcwd

[2018-09-04 15:44] sharathkumaranbu commented on #57
@ajefts Currently we use submissionId (UUID) generated by the application to store the files in S3 bucket. In OR, we use `legacySubmissionId` for downloading submissions and filling score card.

Shouldn't the renaming be happening at OR while downloading files from S3 bucket?

[2018-09-04 16:31] sharathkumaranbu commented on #53
@callmekatootie When there are two updates happening in parallel, We may end up in a situation where we are trying to update the same version.

Request A:

Read ES for the version. Version will be 1

Request B:

Read ES for the version. Version will be 1 again because the Request A & B are running in parallel, Only when the Request A / B completes, Version number will be updated else Version will

[2018-09-04 16:45] sharathkumaranbu commented on #53
@callmekatootie @BadalZ @cwdcwd May be we can use something like this (https://www.npmjs.com/package/better-queue) to control parallel updates to the same ID. Yet to be tested.

[2018-09-05 15:31] RiteshTC opened #58 "Submission sometimes misses the Phase Id and doesnt generate the submission in OR"
The submission Ids have phase Id blank
f6c9344e-a7ba-4e5e-8f30-038b492c38f0
e0ac90de-7e1b-4227-95f5-2c813c5f6d1c

cc @cwdcwd

[2018-09-07 09:40] RiteshTC opened #59 "Submissions Not processed"
There are around 10 submissions in the challenge made by the competitor.
10 separate files are available in s3 bucket.
30069439

No record is generated in Database or Elastic Search.

[2018-09-10 08:57] RiteshTC opened #60 "The Api accepts the submission when the submission phase is closed"
Api silently ignores the submission, if the submission phase is closed.
Ideally it should throw error, notifying the submission phase is closed and submission cannot be made.

Exception should be made for admin role, to allow admins to upload submissions on user behalf.

[2018-09-12 13:58] BadalZ commented on #4
As per discussion with CWD,

1. get all details for a Challenge using challenge API.
2. Retrieve type, phase and all registrants for that Challenge
3. Get User details from its JWT

We should be able to build a logic (set of rules that Sharath has mentioned) using these data.

@callmekatootie @sharathkumaranbu

[2018-09-13 14:15] sharathkumaranbu commented on #4
Hi,

I would need M2M token with appropriate scopes to fetch resources details from Challenge API.

Please share the corresponding Auth0 credentials in Slack.

[2018-09-13 14:17] sharathkumaranbu commented on #4
Also we would need some discussion on Screening criteria for Users in Code track.

Since there is no screening in Code track, even User with Score 0 can download a submission now in OR.

[2018-09-14 21:39] cwdcwd commented on #4
ok. I'll get the challenge API to accept M2M tokens and create some scopes specifically for challenge calls. Can we stub that out in the meantime while I get that done and pretend we have that and just use the `tonyj` user token from the dev environment?

On the Code track and winning subs being available to all, is that a problem?

[2018-09-15 08:51] sharathkumaranbu commented on #4
IMHO, Winning submission need to be available for others who make a valid submission. Submitters who have made invalid submission like empty file, dummy submissions should not gain access to winning submissions. In Assembly and UI Prototype, We have screening phase to take care of such submissions but it's not the case with Code track

[2018-09-16 08:16] callmekatootie opened #61 "Use Bus API Wrapper instead of calling bus api directly"
Use [wrapper](https://github.com/topcoder-platform/tc-bus-api-wrapper/blob/b8c0793b3032fd3f529b13461427371174a51077/docs/EventsApi.md#postevent) instead of calling the api directly

[2018-09-17 04:41] callmekatootie opened #62 "Script to update ES with data from DB"
Create a script that can be run through npm.

The script takes all data present in DynamoDB and upserts (insert if does not exist, update if otherwise) data in Elasticsearch.

You can assume that the script will be run during downtime / maintenance only, so you need not worry about new records or updates happening to the data in the DB while the script is running.

[2018-09-18 13:46] ajefts opened #64 "Final Fix download in OR not working"
I think we need to update this controller if we haven't already:  https://software.topcoder-dev.com/review/actions/DownloadFinalFix?uid=317442

This is used to download a final fix, and it's currently throwing an error page in dev.

[2018-09-18 13:47] ajefts commented on #64
@BadalZ @cwdcwd fyi

[2018-09-20 08:47] RiteshTC opened #65 "Unable to large files submit files via API"
Large files > 100 MB results in Gateway Timeout errors &  File is not uploaded nor a submission record generated.

<html>
<head><title>502 Bad Gateway</title></head>
<body bgcolor="white">
<center><h1>502 Bad Gateway</h1></center>
</body>
</html>

[2018-09-20 14:29] RiteshTC opened #66 "UI Shows the submission is accepted. But no submission record is found in Db"
Few instances have been reported in Topgear, where the community app the submission is accepted. But no submission appear in dynamodb, or elastic search.

Ex Challenges.30071027, 30071058

The submissions currently available are uploaded by support.

cc @ajefts @cwdcwd

[2018-09-20 14:29] RiteshTC commented on #65
@ajefts @cwdcwd

[2018-09-20 14:30] RiteshTC commented on #60
cc @ajefts @cwdcwd

[2018-09-20 14:31] RiteshTC commented on #59
@cwdcwd @ajefts

[2018-09-20 14:32] RiteshTC commented on #58
cc @ajefts

[2018-09-20 15:26] RiteshTC commented on #66
Some more challenge Ids
30070722
30070848

[2018-09-20 17:05] ajefts commented on #66
@cwdcwd these are all topgear

[2018-09-21 03:06] cwdcwd commented on #66
All look like code challenges on the same project as well.

If they're not getting into the DynamoDB that means the API is
- not writing them or
- not reachable to be able to write them

Is there anyway we can see what's going on on the console?

[2018-09-21 03:08] cwdcwd commented on #66
also, @RiteshTC , you mention that

how did you perform the uploads?

[2018-09-21 03:09] cwdcwd commented on #65
that shouldn't happen at all since the files are uploaded asynchronously via filestack and are not posted up.
Where is this being seen exactly?

[2018-09-21 04:32] #62 closed

[2018-09-21 10:54] RiteshTC commented on #66
Calling the submission api using a local NodeJS client.

[2018-09-21 10:57] RiteshTC commented on #65
@cwdcwd
I am calling the submission api using a local nodeJs client. I am attaching the files in request object of NodeJS.Is there a way to put files in filestack and provide the link to submission api ?

[2018-09-21 13:54] cwdcwd commented on #66
that might have an upload issue on large files but the Community App UI won't. Nor will putting the file up to the S3 bucket and then using the API to `PATCH` on the URL field

[2018-09-21 14:39] cwdcwd opened #67 "Logs only seem to show GETs and start up messages"
would like more verbose logging in place to debug issues with creates and updates

[2018-09-21 14:40] cwdcwd commented on #64
closing this as it doesn't pertain top this repo

[2018-09-21 14:40] #64 closed

[2018-09-21 14:41] cwdcwd commented on #65
you can just put them straight into the requisite S3 bucket `topcoder-submissions` and then update the URL for the record via a PATCH if it exists or POST a new one with that URL

[2018-09-21 14:44] cwdcwd commented on #56
that really seems more like a challenge related API call or even an admin tool UI capability. I don't think it would be good to put this into this API for the obvious reason of how large that would be to send down. IF we were to do it in this API it would have to be an async, batch process which would be a decent expansion of this API. I think it's better handled outside this API by a different se

[2018-09-21 14:47] sharathkumaranbu commented on #65
Just a note: Anti virus scan will take place only when a new submission is created. If the submission URL is patched later, Anti virus scan will not happen for the file present in that URL.

[2018-09-25 13:45] #67 closed

[2018-09-27 05:36] callmekatootie opened #70 "If a contest is in final fix phase, then only winner should be allowed to post a submission"
Title says it all.

Conversely, only in submission phase and final fix phase, we should allow submissions to be posted.

The winner is listed on the challenge details itself and the phase from the challenge API's /phases endpoint.

[2018-10-01 08:37] #61 closed

[2018-10-01 08:40] BadalZ commented on #70
@callmekatootie  / @sharathkumaranbu  Make sure to use M2M while calling challenge API

[2018-10-02 05:12] sharathkumaranbu commented on #70
@callmekatootie `Conversely, only in submission phase and final fix phase, we should allow submissions to be posted.`

Administrators may upload the submission after the closure of submission phase. In such case `submissionPhaseId` will be NULL. There is no check for Administrators.

Is it ok to reject a submission which doesn't have submissionPhaseId  and submission made by a user with role `Topc

[2018-10-02 10:46] callmekatootie commented on #70
Yes

Correct

[2018-10-08 11:50] callmekatootie commented on #4
Resuming this one - we now have m2m token support for challenge api.

I have asked @sharathkumaranbu to proceed with the checks they mentioned earlier. Additionally, I have asked him to prevent members that did not get a passing score from accessing other member's submissions.

[2018-10-10 10:02] #70 closed

[2018-10-12 09:43] sharathkumaranbu commented on #4
Related PR - https://github.com/topcoder-platform/submissions-api/pull/75

Challenge API has some issues with M2M token.

E.g.

The request `GET / https://api.topcoder-dev.com/v3/challenges?filter=id={challengeId}` seems to work without Authorization header but when we add Authorization header with M2M token below error is thrown

[code]

[2018-10-12 12:25] callmekatootie opened #76 "Fix issue where filename uploaded to S3 is not correct"
[Reference] (https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L161)

The file name does not contain the file type. Later on, submission processor uses the file type in the name to search for the submission - it might already be in DMZ area but due to filename mismatch, it gets downloaded and uploaded again with the new filename.

This ticket is to

[2018-10-15 15:51] callmekatootie commented on #4
@sharathkumaranbu They have fixed the issue with challenge api and m2m token. Can you check and confirm?

[2018-10-16 04:11] sharathkumaranbu commented on #4
@callmekatootie Yes. It seems to be fine now. I will update the PR shortly

[2018-10-16 17:38] #76 closed

[2018-10-17 11:42] callmekatootie commented on #4
Closing ticket. PR merged.

[2018-10-17 11:42] #4 closed

[2018-10-17 17:32] callmekatootie opened #78 "Don't carry out role checks for m2m tokens"
Follow up of changes carried out in #4

- Currently, we are carrying out checks on accessing submission details.
- This check is only needed for non m2m tokens. But we are carrying it out even if m2m tokens are being used.

[2018-10-18 05:38] callmekatootie commented on #78
fixed

[2018-10-18 05:38] #78 closed

[2018-10-23 10:21] JayaDhaka opened #81 "Winners not shown in challenge page!"
In Direct, all three winners are selected but only the first winner is visible on the winner's page
https://www.topcoder.com/challenges/30072165/?type=design&ta=winners

Please check and fix the issue.

![image 2](https://user-images.githubusercontent.com/34749364/47354078-5eb67d80-d6db-11e8-98bc-be38c09c4d80.png)
![image 3](https://user-images.githubusercontent.com/34749364/47354089-637b3180-d6db

[2018-10-23 10:22] callmekatootie commented on #81
@JayaDhaka I am not sure if this is the right repo for the issue.

[2018-10-23 10:32] RiteshTC commented on #81
@callmekatootie
This error seems to coming after the new submission api has been deployed
Prize_id  on submissions table is not populated for design submissions beyond the 1st one. Most likely the submission process is not writing back or in the format expected by the downline process

[2018-10-23 10:54] JayaDhaka commented on #81
Here is the list of some design challenges in which all 3 winners are not visible:
https://www.topcoder.com/challenges/30070635/?type=design&tab=winners
https://www.topcoder.com/challenges/30068825?tab=winners
https://www.topcoder.com/challenges/30070046?tab=winners
https://www.topcoder.com/challenges/30068824?tab=winners

[2018-10-23 12:51] cwdcwd commented on #81
@JayaDhaka @RiteshTC this would be an issue with the Community App not pulling submissions properly. I think there's actually a ticket for this already

[2018-10-23 12:51] #81 closed

[2018-10-23 12:55] cwdcwd commented on #81
I believe [this is the one](https://github.com/topcoder-platform/community-app/issues/1252)

[2018-10-23 15:44] RiteshTC commented on #81
@cwdcwd
I don't think its an issue with the community app.
Prize Id should be populated in the submission table, for the submission to show up as winning submission.

In design challenges, submission table only the first winner is assigned the prize_id. Rest of 2nd and 3rd place winners have prize id as null.

[2018-10-30 11:58] RiteshTC opened #82 "OR cannot handle multiple submissions in final fixes phase"
OR doesn't close the phase, when there are multiple final fixes uploaded by the user.

[2018-10-30 11:59] callmekatootie commented on #82
@RiteshTC This would not be the right repo for it. (I don't know if there's a repo for OR specific stuff or if its just community app).

[2018-10-30 12:00] RiteshTC commented on #82
This is happening after the new change in submission api

[2018-10-30 12:02] callmekatootie commented on #82
I see. In which case, I think I think the issue is with something that is consuming the submission api. They need to tell us what we are doing wrong or if its something probably at their end itself.

Not sure where we would start looking - @cwdcwd thoughts?

[2018-11-07 15:07] callmekatootie opened #83 "Get Reviews associated with submission for workflow when fetching data from Dynamodb"
[Reference](https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L76).

Reference above is pointing to code where we read data off dynamodb if ES does not have the data.

The scenario involving ES is that it gets the associated reviews for a submission, but the same does not happen in this case, when we get the submission from dynamodb.

We need to ba

[2018-11-07 15:14] callmekatootie commented on #83
@sharathkumaranbu Interested in taking this one up asap?

[2018-11-07 15:18] sharathkumaranbu commented on #83
@callmekatootie Sure. I am just thinking about the way to do it. Because Dynamo DB support retrieval of records based on ID only. In Review table, Submission ID is not the key, Review table will have its own key.

[2018-11-07 15:19] callmekatootie commented on #83
Tagging @cwdcwd if he has something to add.

[2018-11-07 15:22] cwdcwd commented on #83
let's add a Global Secondary Index key on reviews so we can look up via submission Id

[2018-11-07 15:23] cwdcwd commented on #83
my thought was we could just add another db call to `function * _getSubmission (submissionId) ` to pull that review array in

[2018-11-07 15:39] cwdcwd commented on #83
thanks @sharathkumaranbu !

[2018-11-07 17:46] sharathkumaranbu commented on #83
@cwdcwd We need to use a index name in the code to query records. For review and reviewSummation we will need two index names.

Should I need to make the index names as 2 config variables or 2 constants?

Also, Please note that AWS charges $ 0.59 / month per index per read or write capacity unit

[2018-11-07 18:07] cwdcwd commented on #83
I'm fine with something like `reviewSummation-index` and `review-index`.
not concerned about cost =)

[2018-11-07 18:08] sharathkumaranbu commented on #83
is it a configuration variable or constant in the constants.js? We are indexing submissionId in 2 tables. Hence index name `submissionId-index` could be better too

[2018-11-07 18:11] cwdcwd commented on #83
I think constant is fine, right?

[2018-11-07 18:14] sharathkumaranbu commented on #83
Indeed but I wanted a confirmation :)

[2018-11-07 18:15] cwdcwd commented on #83
should we update this to add the indices? https://github.com/topcoder-platform/submissions-api/blob/develop/scripts/createTables.js

[2018-11-07 18:18] sharathkumaranbu commented on #83
We need to update the models (https://github.com/topcoder-platform/submissions-api/tree/develop/src/models) not the createTable script.

[2018-11-07 18:18] cwdcwd commented on #83
ahh ok

[2018-11-07 18:22] cwdcwd commented on #82
tbh this sounds like an OR deficiency. Can we move this over to [here](https://github.com/topcoder-platform/tc-online-review) and I can have @coderReview dig in on it

[2018-11-07 19:18] #83 closed

[2018-11-08 07:53] callmekatootie commented on #82
Done - https://github.com/topcoder-platform/tc-online-review/issues/57

[2018-11-08 07:53] #82 closed

[2018-11-09 03:16] callmekatootie opened #86 "Wrong error message if bus api is down"
If the bus api is not available, then POST/PUT/DELETE/PATCH requests to submission api will give the 404 error with message `Not Found`.

The message needs to be improved to indicate that the bus api is down.

[2018-11-09 19:13] cwdcwd opened #87 "Expand Review and ReviewSummation to hold metadata"
Expand Review and ReviewSummation to hold a new, optional metadata object. The purpose of this member is for review and scoring services to augment the review with extra data

[2018-11-09 20:38] cwdcwd commented on #87
@sharathkumaranbu are you interested in this one?

[2018-11-10 07:53] callmekatootie commented on #87
PR is ready for merge - https://github.com/topcoder-platform/submissions-api/pull/88

[2018-11-10 12:59] #87 closed

[2018-11-12 15:44] cwdcwd opened #90 "administrator check needs to take case into account"
currently we check the user's roles "Administrator" with a capital "A". We should lower case all roles before checking.

[2018-11-22 10:48] sushilshinde opened #92 "Submissions are not working for V4 updates"
Submissions are not working for Direct-MM (subTrack: "DEVELOP_MARATHON_MATCH") type

_For V4 updates : Community App:mm-develop-merge branch and Challenge API : mm-feature branch_

**On Beta Production**
https://beta-community-app.topcoder.com/challenges/30073855/submit
http://api.topcoder.com/v4/challenges/30073855

**Also, on test development**
https://test-community-app.topcoder-dev.com/challen

[2018-11-22 11:02] callmekatootie commented on #92
The cause of the issue appears to be the challenge api, at least in dev

**In Dev**
http://api.topcoder-dev.com/v4/challenges/30054163 appears to work but https://api.topcoder-dev.com/v3/challenges?filter=id=30054163 does not.

**In Beta Prod**
@sushilshinde Not sure what the issue is here. Are you getting the same message here too? Cause http://api.topcoder.com/v4/challenges?filter=id=30073855 do

[2018-11-22 11:07] callmekatootie commented on #92
Cause of issue found over slack - v4 challenge api has the details. Submission api however is using v3 challenge api

[2018-11-22 11:09] sushilshinde commented on #92
This will work

https://api.topcoder-dev.com/v3/challenges/30054163

instead of

https://api.topcoder-dev.com/v3/challenges?filter=id=30054163

@callmekatootie

[2018-11-22 11:38] callmekatootie commented on #92
I just checked and it appears we should not face any issue in using v4. No changes are needed to the api, besides updating the config.

Feature branch https://github.com/topcoder-platform/submissions-api/tree/v4_challenge created that contains the v4 branch in the config

[2018-11-26 11:54] sushilshinde commented on #92
Working now

[2018-11-26 11:54] #92 closed

[2018-11-26 11:56] sushilshinde opened #93 "Submissions are not reflecting for any submission"
Submissions are not reflecting for any type in OR

<img width="1028" alt="screen shot 2018-11-26 at 5 25 15 pm" src="https://user-images.githubusercontent.com/683231/49012727-518c2300-f1a0-11e8-8eb1-ba1fe6db0a22.png">

[2018-11-26 11:57] sushilshinde commented on #93
@ajefts @cwdcwd comments

[2018-11-26 13:06] callmekatootie commented on #93
Is there an example in dev instance?

[2018-11-27 09:49] sushilshinde commented on #93
@callmekatootie

These are two examples, actually, none of the submissions are reflecting but UI console there is no error.

**Code Type**
https://test-community-app.topcoder-dev.com/challenges/30054164

**Direct MM**
https://test-community-app.topcoder-dev.com/challenges/30054163

I did check submission API v5 logs there is no error on the logs.

![screen shot 2018-11-27 at 3 16 58 pm](https://us

[2018-11-27 14:09] callmekatootie commented on #93
Discussed on slack. Submission api does seem to return all submissions, for both contests.

It appears that the issue lies in OR and not submission api.

[2018-11-28 09:08] sushilshinde commented on #93
@callmekatootie you are right.

I tested on production. submissions are reflected. Probably some issue on dev box.

[2018-11-28 09:08] #93 closed

[2018-11-29 08:26] callmekatootie opened #94 "Scope issue"
For all GET /resources endpoint, the scope is erroneously set to `create:` instead of `read:`

[2018-12-01 06:08] callmekatootie commented on #94
PR merged. Closing.

[2018-12-01 06:08] #94 closed

[2018-12-01 06:14] callmekatootie commented on #90
@cwdcwd We are already carrying this out.

[Lowercase on the roles configured](https://github.com/topcoder-platform/submissions-api/blob/develop/app.js#L47)
[Lowercase on the role in the request](https://github.com/topcoder-platform/submissions-api/blob/develop/app.js#L52)

This has been in place since July.

[2018-12-06 04:58] callmekatootie opened #97 "Download submission endpoint"
New endpoint: `/submissions/{id}/download`

Purpose: Will download the submission from S3 and provide it to the user. Authorization checks will be same as existing checks for `/submissions/{id}` endpoint

[2018-12-06 18:36] #97 closed

[2018-12-07 16:07] cwdcwd commented on #90
@callmekatootie that's not always the case. See [this commit](https://github.com/topcoder-platform/submissions-api/commit/f006400e796dbe9b54bb8b7952b1948b1843343f) where I threw in a lower cased `administrator` since we're not using those functions

[2018-12-07 16:08] cwdcwd commented on #9
I think this one is resolved. closing for now

[2018-12-07 16:09] cwdcwd commented on #57
should be resolved on 4ae0b4f24ee1a08858270942e9d56ff0297d87a6

[2018-12-07 16:09] #57 closed

[2018-12-07 16:10] #28 closed

[2018-12-07 16:18] cwdcwd commented on #59
[code]

[2018-12-07 16:18] #59 closed

[2018-12-07 16:20] cwdcwd commented on #58
I think this is a resolved issue on the Community App upload page. closing

[2018-12-07 16:20] #58 closed

[2018-12-07 16:23] cwdcwd commented on #60
@callmekatootie can you have some one take a look at this one?

[2018-12-10 10:50] callmekatootie commented on #60
Confirming that this works as intended now - the app will let the caller know that submission phase is not open, so they cannot submit (submission phase could be closed, or it might still not have opened - in either case it will give error)

[2018-12-10 10:50] #60 closed

[2019-01-03 03:41] callmekatootie opened #100 "Support sorting of submissions"
For the submissions endpoint, support sorting.

By default sort on submission time

[2019-01-04 15:05] #100 closed

[2019-01-08 05:09] callmekatootie opened #103 "Artifacts Endpoints"
- Artifacts are files generated by other processors when processing a submission (like a scorer or a scanner for example)
- A new environment variable that contains the S3 bucket name for holding these artifacts.
- Three new endpoints related to a new entity `artifacts` (meant to be under submissions resource itself).

1. POST `/submissions/{submissionId}artifacts`
Accepts a single file (any forma

[2019-01-09 07:12] sharathkumaranbu commented on #103
@callmekatootie @cwdcwd

I have completed most of the work but stuck on 1 point

1. When we upload the artifact, We are allowing any format to be uploaded and reviewTypeId is expected to be used as `fileName`

2. If we need to preserve the fileType, we need to store the file with extension

3. But when we request for the file to be downloaded, we are passing only `reviewTypeId` alone as `file` not

[2019-01-09 08:32] callmekatootie commented on #103
I think we upload the file under the `submissionId` folder, under another folder which is the `reviewTypeId`.
Thus, when the user requests for a file, they are passing the `reviewTypeId` along with the `submissionId` which we use to identify the file to download.

@cwdcwd Would that be right?

[2019-01-09 11:40] sharathkumaranbu commented on #103
@callmekatootie @cwdcwd

I have figured out a logic to use reviewTypeId as file name and preserving file extension

[code]

Whenever a artifact file is requested for download, I will use a prefix to fetch the list of available files with such prefix. Mostly there should be only 1 file. I will fetch the first file from that array and return it.

1. Is this approach fine?

2. Also, Is it intended to

[2019-01-09 14:16] cwdcwd commented on #103
@sharathkumaranbu that sounds great. yes we don't want to use the original filename as that's not a secure methodology to accept filenames as they're sent in. I think this approach sounds great.
I think we will make the producer of the artifacts only send up zip files as, I agree, it will be a bit complex otherwise. If the need for more than one arises we can address later.

[2019-01-09 17:11] sharathkumaranbu commented on #103
@cwdcwd Final question

1. Should there be strict validation of `submissionId` and `reviewTypeId` passed in the input? Like validating those IDs against the Dynamo DB?

[2019-02-08 20:53] cwdcwd commented on #90
@callmekatootie *bump*

[2019-02-24 11:43] callmekatootie opened #109 "Update schema for reviewerId in Reviews"
To allow OR based reviews, update the schema for reviewerId to accept memberId (which is just a number and not a uuid)

This will help @ThomasKranitsas when they will be creating the OR based reviews.

[2019-02-24 11:59] callmekatootie commented on #109
Schema updated. Closing ticket.

[2019-02-24 11:59] #109 closed

[2019-06-03 06:24] callmekatootie opened #113 "Fix issues found during submission api wrapper contest"
Two issues reported during submission api wrapper contest:

- Missing definitions:
[code]

- For review type creation, id field is marked as a required input in swagger, when in fact, it is auto generated.

[2019-06-04 13:14] callmekatootie commented on #113
Issues reported during wrapper contest (Reviews)

- POST /reviews returns 200 as status code. Swagger says 201. Swagger needs correction.
- For reviews resource, swagger specification says that `scorecardId` can be an integer or string. Code also says so, but since we did not specify the schema when interfacing with ES, ES has taken the schema to be that of an integer. Update the code and the swag

[2019-06-15 04:49] callmekatootie commented on #113
Review Summations:

- `isFinal` field exists in code but not in swagger

[2019-06-18 16:14] callmekatootie opened #115 "Post events to aggregate topic"
All events that we post to bus api should be duplicated and posted to bus api again, on an "aggregate" topic.

[2019-06-19 11:56] callmekatootie opened #117 "Fix security vulnerabilities reported by github"

[2019-06-20 04:25] callmekatootie commented on #113
Submission:
- PUT `/submissions/{submissionId}` says `type` field is required. Code does not

[2019-06-27 15:13] callmekatootie opened #120 "Silent submission creation even though submission details are incomplete"
I discovered today that the submission api can create a submission which does not have details about the uploaded file - that is, a record where there is no S3 url attribute present.

At this line - https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L230 - we check if the submission has been uploaded and if yes, if it exists at the `submission` attr

[2019-06-27 15:13] callmekatootie commented on #120
(More like another member discovered when they tried to create a submission)

[2019-07-22 08:35] callmekatootie commented on #120
PR ready - https://github.com/topcoder-platform/submissions-api/pull/121

@cwdcwd Do I proceed to merge?

[2019-07-30 14:05] callmekatootie opened #122 "Provide DELETE artifacts endpoint"

[2019-07-30 14:13] #120 closed

[2019-07-31 13:50] callmekatootie commented on #115
This has been fixed. Closing.

[2019-07-31 13:50] #115 closed

[2019-08-01 14:59] callmekatootie commented on #122
Fixed.

[2019-08-01 14:59] #122 closed

[2019-08-05 14:31] sushilshinde opened #124 "Need sortBy param for submissions endpoint"
Endpoint:  `/submissions`

Need `sortBy` param for this endpoint, initially, it should support sort by rankings

For more inclusive design it should use : `sortBy=key1:asc,key2:desc,key3:asc` value pattern

[2019-08-05 14:44] callmekatootie commented on #124
We need to watch out for https://github.com/topcoder-platform/submissions-api/blob/aadc62b3b943dc21778723995618966eddecfe84/src/common/helper.js#L194 and consider it in our change

[2019-08-06 11:07] callmekatootie commented on #124
@sushilshinde

Could you elaborate here - which attribute on the submission are you expecting the sorting to happen?

[2019-08-07 05:48] callmekatootie commented on #124
@sharathkumaranbu Discussed with Sushil. We need to provide a generic sort parameter, one of which is the sorting based on the review summation score for a submission

[2019-08-08 15:45] dushyantb opened #125 "Change the name of the artifact"
Instead of using `typeId` for using as the name of the artifact; let's use the `name` which we are taking as a part of `request body`

[code]

and we can remove the `typeId` as well; as this would be redundant after this.

cc: @cwdcwd

[2019-08-09 04:54] callmekatootie commented on #117
@cwdcwd The remaining fixes require semver (major) changes. Shall I get those in?

Libraries affected are `nync`, `lodash` and `axios`

[2019-08-09 06:04] callmekatootie commented on #113
Contest Launched for remaining fixes: http://www.topcoder.com/challenge-details/30098900/?type=develop

[2019-08-09 06:04] callmekatootie commented on #125
Contest Launched - http://www.topcoder.com/challenge-details/30098900/?type=develop

[2019-08-09 06:04] callmekatootie commented on #124
Contest launched - http://www.topcoder.com/challenge-details/30098900/?type=develop

[2019-08-18 12:06] callmekatootie commented on #125
PR ready: https://github.com/topcoder-platform/submissions-api/pull/127

[2019-08-18 12:06] callmekatootie commented on #124
PR Readt: https://github.com/topcoder-platform/submissions-api/pull/127

[2019-08-18 12:07] callmekatootie commented on #113
PR ready: https://github.com/topcoder-platform/submissions-api/pull/127

[2019-08-24 05:22] callmekatootie opened #129 "Create a review type for SonarQube"

[2019-08-24 05:24] callmekatootie opened #130 "Create a status field for review resource"
From Slack:

[2019-08-25 08:54] callmekatootie opened #131 "Should we allow non admin and non copilot to access the review types?"
For this ticket - https://github.com/topcoder-platform/ide-ext-vscode/issues/14 - where we display the review details, should we allow non admin and non copilot users to see the details of the review type (by passing the review type id)?

At the moment, only admin and copilots can access this api...

[2019-08-30 16:50] callmekatootie commented on #125
PR merged. Closing ticket.

[2019-08-30 16:50] #125 closed

[2019-08-30 16:51] callmekatootie commented on #124
PR merged. Closing ticket.

[2019-08-30 16:51] #124 closed

[2019-08-30 16:51] callmekatootie commented on #113
PR merged. Closing ticket.

[2019-08-30 16:51] #113 closed

[2019-09-04 02:07] #130 closed

[2019-09-06 06:23] callmekatootie opened #137 "New structure for meta data"
From @dushyantb on Slack:

[code]
^ new metadata structure. Instead of filtering out entire metadata, we will only filter the private attribute for non admin and non copilots.

[2019-09-06 06:27] callmekatootie commented on #137
This will be for the `review` resource

[2019-09-06 08:58] callmekatootie commented on #137
PR ready: https://github.com/topcoder-platform/submissions-api/pull/138

[2019-09-06 08:59] callmekatootie opened #139 "Fix tests"
Fix tests that are failing and also update tests to improve code coverage

[2019-09-10 09:50] callmekatootie commented on #139
Tests are working fine in dev. We need to provide tests for:

- [metadata feature](https://github.com/topcoder-platform/submissions-api/issues/137)
- [default status field](https://github.com/topcoder-platform/submissions-api/commit/8d7cfd47f7a8fbb8b7770f1991b87d573029584e)

[2019-09-13 07:07] #139 closed

[2019-09-17 20:56] cwdcwd commented on #117
@callmekatootie go ahead

[2019-09-19 18:15] #137 closed

[2019-09-19 18:39] cwdcwd opened #143 "legacyReviewId field"
add an optional `legacyReviewId` field to the reviews endpoints. This is to link OR-based reviews to the new v5 system in conjunction w/ the [OR Review Processor](https://github.com/topcoder-platform/or-review-processor). Said processor should also [be expanded to post in the legacy review Id](https://github.com/topcoder-platform/or-review-processor/issues/3). The [Submission Wrapper module](https

[2019-09-22 06:34] callmekatootie opened #146 "Fix lint errors"

[2019-09-22 06:55] callmekatootie commented on #129
Created in dev:

[code]

@dushyantb Need your help - could you kindly create the above review type in production too

[2019-09-22 07:14] callmekatootie commented on #117
Turned on [Automated security fixes](https://help.github.com/en/articles/configuring-automated-security-fixes#managing-automated-security-fixes-for-your-repository) for this repository - received 1 PR. The other one didn't generate because:

Will check how to resolve this manually

[2019-09-24 06:12] callmekatootie opened #149 "Remove the check to see if an artifact was already uploaded"
On call today with @dushyantb

Currently, we check if the artifact that we are creating already exists (by checking for a file with the same name).

We need to remove this check

If the artifact already exists, then it needs to be overwritten

[2019-09-24 10:38] dushyantb commented on #129
[code]

[2019-09-24 10:40] callmekatootie commented on #129
Thanks @dushyantb !

[2019-09-24 10:40] #129 closed

[2019-10-09 06:46] callmekatootie commented on #149
Assigned to @meshde

[2019-12-07 17:05] sharathkumaranbu commented on #146
Already taken care in https://github.com/topcoder-platform/submissions-api/pull/147

[2019-12-07 17:05] #146 closed

[2019-12-07 17:07] sharathkumaranbu commented on #53
No longer a choice I believe. Everything is handled via ES Processor only.

[2019-12-07 17:07] #53 closed

[2019-12-07 17:08] sharathkumaranbu commented on #56
@cwdcwd Are we still considering it?

[2019-12-08 10:03] callmekatootie commented on #149
Merged and in `master`

[2019-12-08 10:03] #149 closed

[2019-12-08 10:05] callmekatootie commented on #143
Changes are in `master`

[2019-12-08 10:05] #143 closed

[2019-12-08 10:06] callmekatootie commented on #131
Changes made and in `develop`

[2019-12-08 10:06] #131 closed

[2019-12-17 12:24] RiteshTC opened #157 "Design Submissions are downloadable in Online Review"
Issue Logged in Online Review Repo.
https://github.com/topcoder-platform/tc-online-review/issues/87

Cross posted here, if any change has been made in api recently, that might be causing the issue.

[2020-01-22 04:25] callmekatootie opened #162 "Integrate APM tracing into the api"
- Update configuration for apm tracing specific configuration values
- Update README for any additional setup needed to get the tracing working
- Update each endpoint to send meta data about the request and response to the tracing service

[2020-01-29 01:54] lakshmiathreya commented on #162
@rootelement i am unable to edit the Issue ... Some Qs about this fix:
1. What is the functional impact if any of this change?
2. The title doesnt mention the Api name
3. Where are the tests recorded - could you point me to the Repo?

[2020-01-29 03:46] callmekatootie commented on #162
@lakshmiathreya

As I understand, there is no impact of this change to the end user. For Topcoder, we will get more insights into how our api is being used and analyze requests more closely

This is the Submission Api.

You are in the repository already. [This](https://github.com/topcoder-platform/submissions-api) is the main page and [this](https://github.com/topcoder-platform/submissions-api/tre

[2020-01-29 11:19] lakshmiathreya commented on #162
@callmekatootie CI results would be good ...

[2020-01-29 11:20] lakshmiathreya commented on #162
I dont seem to have edit privilege for this Issue ...

[2020-01-29 11:31] lakshmiathreya commented on #162
Another Q - is this deployed in Dev - Integration test with Community app is done in that case?

[2020-01-29 12:43] lakshmiathreya commented on #162
@callmekatootie @rootelement I went through the tests - seems like its all targetted for Prod OR ... is the change deployed in Prod already?

[2020-01-29 16:50] cwdcwd commented on #162
@lakshmiathreya what do you mean "targeted for Prod OR" ?

[2020-01-30 03:01] lakshmiathreya commented on #162
@cwdcwd - I figured after I asked the Q#2! :: The test submissions are being made to software.topcoder.com via a Dev copy of the submissions api with APM tracing enabled ...  Will be deployed to Prod early next week ...?
My Q#1 was :: is the API deployed in Dev so we can assumed basic Sanity Integration checks via Community App is done as well?

[2020-01-30 09:36] callmekatootie commented on #162
- The api is indeed deployed to dev. But I cannot answer if it integration checks with community app has been carried out or not. I am not sure who the copilot of the community app is
- The values of `software.topcoder.com` are for dummy data used by the tests. The attribute which contains this value is only used for comparison (is the data that is fetched having the correct value). If there's any

[2020-02-02 10:19] callmekatootie opened #163 "Error with PUT / reviews request"
Got this error when I tried to update a review:

Need to check if its my test data at fault or the code

[2020-02-04 14:53] cwdcwd opened #164 "Add in a "processing" status to reviews and reviewSummations"
add another status to the reviews and reviewSummations objects with a value of "processing"

[2020-02-05 10:46] callmekatootie commented on #164
@cwdcwd reviewSummation does not have any `status` field. There's an `isFinal` flag on it though...

Do you mean to say that it will now contain a status field too?

[2020-02-06 04:51] dushyantb commented on #164
@callmekatootie yes, like the `review` will be having status for `reviewSummation` as well,
also, right now actual status values are in source js file; that should be moved to config; so that in future in case we need to add any new status, only need to modify config file

[2020-02-06 07:35] callmekatootie commented on #164
F2F launched - http://www.topcoder.com/challenge-details/30114675/?type=develop

[2020-02-06 10:48] callmekatootie opened #165 "GET submissions endpoint with nested query does not work"
The following request:

`https://api.topcoder-dev.com/v5/submissions?review.typeId=d96d5f17-5884-47b8-bfea-bddf066e451f`

throws an errors from the api

This request is attempting to get submissions where the review typeid is having a specific value

[2020-02-06 12:39] callmekatootie commented on #164
Additions:

- review summation can also have status of queued
- in case status is queued or processing, `aggregateScore` needs to be null

[2020-02-09 17:10] callmekatootie commented on #164
Pull Request ready - https://github.com/topcoder-platform/submissions-api/pull/167

[2020-02-10 10:59] callmekatootie commented on #165
Error seen in the log:

[code]

[2020-03-02 11:29] sharathkumaranbu opened #170 "Submission Artifacts Mapping"
- [ ] Create submission-artifact table in dynamodb to maintain the artifact-submission mapping

- [ ] Use new table to search the artifacts instead directly querying s3 bucket

- [ ] Place the artifact in new folder structure, refer following section
![image](https://user-images.githubusercontent.com/7723558/75672626-2481c680-5ca7-11ea-8e6b-8848da4a734f.png)

[2020-03-02 11:30] sharathkumaranbu opened #171 "Submission Access restriction enhancements"
- [ ] Verify or enforce submission download restrictions outlined in https://www.lucidchart.com/invitations/accept/534b3246-e792-421f-9d18-26c9f4324200

[2020-03-14 13:14] callmekatootie opened #172 "Fix errors in swagger specification"

[2020-03-27 15:02] callmekatootie commented on #170
@rootelement The changes are currently in branch `Issue_170`.

Since we need to make this backward compatible, can you let me know if the following behaviour would be the right way:

- for CREATE, we will first check if there are any artifacts for the submission through the old approach.
    - If yes, then we will continue to create the artifact through the old approach
    - If no, then we will c

[2020-04-06 15:29] sharathkumaranbu opened #173 "Error while submitting in private challenge"
All the members who have tried to submit in this private challenge https://www.topcoder.com/challenges/30121514 were getting the below error

![image](https://user-images.githubusercontent.com/7723558/78575690-53143380-7849-11ea-9cc0-c8b8abaac5a1.png)

I think it's probably because the Submission API couldn't read response from Challenge API. Please investigate.

[2020-04-06 15:31] callmekatootie commented on #173
Can you let me know the contest id?

[2020-04-06 15:31] callmekatootie commented on #173
Nevermind - I re-read the ticket...

[2020-04-06 15:37] callmekatootie commented on #173
@rootelement For private challenges, is the challenge api expected to return with details?

[2020-04-27 05:53] sushilshinde opened #175 "Users should be able to delete their own submissions"
Problem described in the https://github.com/topcoder-platform/community-app/issues/4213

Cause: V5 submission API delete endpoint only[ allows admin ](https://github.com/topcoder-platform/submissions-api/blob/267ff963ab513cc5db9be965badc5a2a61b92e71/docs/swagger.yaml#L411)roles to delete the submissions.

Effect: Community app is using V3 delete endpoint instead of v5, which is probably wrong as b

[2020-04-27 06:18] callmekatootie commented on #175
@sushilshinde

- Is the deletion allowed only if the submission phase is still active?
- What should happen to the reviews of the submission, example, the anti virus scan review...

[2020-04-27 17:01] sushilshinde commented on #175
@Oanh-and-only-Oanh please help with these questions

[2020-04-27 17:08] Oanh-and-only-Oanh commented on #175
@callmekatootie,
1) only allow delete option if submission phase is still active
2) If submission is deleted, review of submission should end and be discarded. This is a permanent action from our servers that can't be undone.

[2020-04-27 17:24] callmekatootie commented on #175
@Oanh-and-only-Oanh @sushilshinde Should this be carried out immediately or should I hold until soft delete feature is implemented (Currently, there's no plan for soft delete yet but I am guessing it is in the pipeline)

[2020-04-28 02:51] Oanh-and-only-Oanh commented on #175
@callmekatootie, what's the LOE and how long will it take to carry out now?

[2020-04-28 03:04] callmekatootie commented on #175
@Oanh-and-only-Oanh Should wrap up in 1-2 days

[2020-04-29 04:46] callmekatootie commented on #175
@Oanh-and-only-Oanh Just making sure - I am waiting on the go ahead from you here. I want to know if I can proceed or if I need to wait for Soft Delete.

Also - the 1-2 days timeline is for the feature request in this ticket - NOT for soft delete.

[2020-04-29 16:01] Oanh-and-only-Oanh commented on #175
apologies for the late reply @callmekatootie. For some reason I don't get notified of mentions in github.

Yes, please more forward with feature request. thank you.

[2020-05-01 13:55] callmekatootie commented on #175
Status: PR ready. Reviewer assigned to review

[2020-05-04 11:00] callmekatootie opened #177 "Review Service auth check issues"
From https://apps.topcoder.com/forums/?module=Thread&threadID=955367&mc=1 by @sharathkumaranbu :

[2020-05-05 06:55] callmekatootie commented on #175
@Oanh-and-only-Oanh the changes are in develop branch / dev instance of topcoder.

If we need to move the changes to production, kindly let me know

[2020-05-05 13:11] cwdcwd commented on #175
@callmekatootie hold on this.

[2020-05-27 21:55] codingdrone opened #178 "log messages swapped"
I think, log & error messages at [line 318 ](https://github.com/topcoder-platform/submissions-api/blob/70c80a0efc11810d3f865e731caf20aa387decba/src/services/SubmissionService.js#L318)  and [line 323 ](https://github.com/topcoder-platform/submissions-api/blob/70c80a0efc11810d3f865e731caf20aa387decba/src/services/SubmissionService.js#L323) should be swapped as both parameters are provided in first c

[2020-05-27 21:58] codingdrone commented on #178
@callmekatootie

[2020-05-28 07:01] #178 closed

[2020-06-05 16:34] luizrrodrigues opened #179 "V5 not support new Challenge UUID"
Issue: **submissions_api** not support new challenge `UUID`, only accept `legacyId`:
![image](https://user-images.githubusercontent.com/7029641/83839780-54d86700-a6d3-11ea-9ac6-8143564fe8ac.png)

@rootelement I can't assign in this repo.

[2020-06-05 17:30] callmekatootie commented on #179
It definitely does support UUIDs. The error that you are getting seems to be coming from Elasticsearch. Need to check what's up there...

[2020-06-05 17:34] rootelement commented on #179
I think he's talking about Challenge UUIDs, not submission UUIDs. I don't
think the submission api is set up to use v5 challenge api, right?

On Fri, Jun 5, 2020 at 1:30 PM Mithun Kamath <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.co

[2020-06-05 17:36] callmekatootie commented on #179
It actually is. Here's the schema:

The test data that we used in the past too had UUIDs (we changed them to legacy to keep it realistic)... hence curious as to why elasticsearch complained. Will check and get back with my findings...

[2020-06-14 04:02] luizrrodrigues opened #181 "`/v5/submissions?challengeId=XXXX` need accept request without token"
Endpoint: `/v5/submissions?challengeId=XXXX`

Description: In V5 integration process we have some data removed from **challenges-api** return, like `registrants` and `submissions`

Problem: To get `submissions` we need to provide user token, but need to be allowed to get submissions when the user not logged.

[2020-06-14 04:02] luizrrodrigues commented on #181
cc @sushilshinde

[2020-06-14 04:11] callmekatootie commented on #181
@luizrrodrigues Couldn't you use m2m tokens in this case?

[2020-06-14 04:14] luizrrodrigues commented on #181
@callmekatootie We going to avoid the use of m2m tokens. @sushilshinde

[2020-06-14 08:36] sushilshinde commented on #181
@callmekatootie we don't want to share secrets with developers for their local setup.

We are trying to make community app as dumb as possible although it has limited server code it has, we don't want to add anything new. Auth should be handled by APIs. I don't want m2m calls on the community-app server.

@mtwomey

[2020-06-18 19:14] rootelement opened #182 "Expose Swagger at /docs endpoint"
Like the v5 Challenge API
http://api.topcoder-dev.com/v5/challenges/docs

Also, if I load the current swagger on the develop branch into editor.swagger.io, it has all kinds of errors at the top:
https://github.com/topcoder-platform/submissions-api/commit/b08cf17f3f0879f3928eb1bac773498cfece487d#diff-3933d49df39e665e1db0e420518b7c20

![Screen Shot 2020-06-18 at 3 11 04 PM](https://user-images.githu

[2020-06-25 08:40] sushilshinde commented on #179
@callmekatootie what's ETA on this?

[2020-06-25 18:54] callmekatootie commented on #179
Full error log:

[code]

`<redacted_by_me_for_legibility>` = same as the text seen in the POSTMAN screenshot

Important bit in the error message above:

[code]

Cause of issue seems to be that the `challengeId` seems to have been dynamically mapped as a number and not as a string.

Checked the mappings and indeed - `challengeId` is mapped as `long` data type.

@rootelement Could you kindly advice

[2020-06-25 18:55] callmekatootie commented on #179
@sushilshinde This could take some time depending on the approach that we will take. The fix is not straightforward and thus an ETA would be difficult to provide.

[2020-06-25 19:37] cwdcwd commented on #179
@callmekatootie couldn't we just set up a new index, update the document model to a string and then run [this loading script](https://github.com/topcoder-platform/submissions-api/blob/develop/scripts/migrateFromDBToES.js) against it ?

[2020-06-26 01:58] callmekatootie commented on #179
Yes, we could use that loading script as well.

So is it confirmed that we move ahead with creation of a new index?

[2020-06-26 11:32] SathyaJayabal opened #183 "Submissions submitted form V5 Challenge API FE does not have legacy submission id"
The submissions that were submitted from the V5 Challenge API FE  do not have the lagacy submission id field upadted in  the database.

This the preview of the submissions api call made form V4
<img width="846" alt="Screenshot 2020-06-26 at 4 58 53 PM" src="https://user-images.githubusercontent.com/58783823/85852567-7a3a2b80-b7ce-11ea-9199-e04cb7874d84.png">

This the preview of the submissions ap

[2020-06-26 11:41] lakshmiathreya commented on #183
Submission record seems missing in Informix db for the submission done via Beta (v5):
<img width="1651" alt="Screenshot 2020-06-26 at 5 03 17 PM" src="https://user-images.githubusercontent.com/51733042/85853339-f5501180-b7cf-11ea-8608-d85895a7a638.png">

[2020-06-26 11:41] callmekatootie commented on #183
@dushyantb Is this the repo - https://github.com/topcoder-platform/legacy-sub-processor - that sets the legacy submission id? Or some other one...

[2020-06-26 11:42] lakshmiathreya commented on #183
Submission record present in Informix for the Submission done via Prod (v4):
<img width="1598" alt="Screenshot 2020-06-26 at 5 05 51 PM" src="https://user-images.githubusercontent.com/51733042/85853457-2af4fa80-b7d0-11ea-8bb1-53f579a4034e.png">
<img width="1638" alt="Screenshot 2020-06-26 at 5 07 48 PM" src="https://user-images.githubusercontent.com/51733042/85853477-2f211800-b7d0-11ea-9491-06a3de

[2020-06-26 12:13] rootelement commented on #179
@callmekatootie yes, please do that

[2020-06-28 14:31] rootelement commented on #179
@callmekatootie what do you want the index to be? I can create it in dev and prod, then when the type is updated, we can just run that script.

[2020-06-28 14:41] callmekatootie commented on #179
How does `submission-index-v2` sound? You need to set it in the `ES_INDEX_NEW` environment variable

[2020-06-28 14:41] callmekatootie commented on #179
FYI - current value is `submission-index`

[2020-06-28 14:42] callmekatootie commented on #179
Perhaps I name the environment variable as `ES_INDEX_V2` as well? :thinking:

[2020-06-28 14:58] callmekatootie commented on #179
@rootelement So current status:

[2020-06-28 17:37] rootelement commented on #179
I don't see any option to create a new index, so we should just change the name and try it.

I've added `"ES_INDEX_V2": "submission-index-v2",` to both the `submission-api` and the `submission-processor-es` config vars in dev. I tried checking out the `Issue_179` branch and running the script, but the error below. I set up the env file the same way I launch npm scripts for challenge api, and the E

[2020-06-28 17:38] rootelement commented on #179
@callmekatootie slack me directly if you want to work on this

[2020-06-29 02:53] callmekatootie commented on #179
@rootelement The error says:

What is your ES endpoint url look like... is it in http perhaps?

[2020-06-29 06:59] rootelement commented on #179
@luizrrodrigues this is fixed in dev. Please test there. We're scheduling the hotfix to deploy to prod hopefully tomorrow

[2020-06-29 14:00] luizrrodrigues commented on #179
@rootelement cool thanks, I’ll check shortly.

[2020-06-30 01:36] luizrrodrigues commented on #179
@rootelement Looks like new submissions not returning in `/submissions/` endpoint:

Return from `POST /submissions`:
[code]

But if call `https://api.topcoder-dev.com/v5/submissions?challengeId=8cabd850-7d44-4036-a5a1-90d38b7f7733` will return empty data.

And if call with legacyId: `https://api.topcoder-dev.com/v5/submissions?challengeId=30056657` will return only old submission:

[code]

Also if

[2020-06-30 02:49] callmekatootie commented on #179
@luizrrodrigues A question - Let us say you created the submission using the v5 challenge id. Now, if you query for submissions using the associated legacy challenge id instead of the v5 challenge id, are you expecting the earlier created submission to show up?

[2020-06-30 02:54] luizrrodrigues commented on #179
@callmekatootie Nope, tests above:
- Created submission with V5
- Query submissions with V5
- Returned empty

[2020-06-30 02:55] callmekatootie commented on #179
Ok. I was referring to this. What is the expectation with this one

[2020-06-30 02:58] luizrrodrigues commented on #179
@callmekatootie This was just additional information, because if call with legacyId will return old submissions (that is right) but if get `/challenges/8cabd850-7d44-4036-a5a1-90d38b7f7733` **numOfSubmissions** is `0`.

[2020-06-30 02:59] callmekatootie commented on #179
:+1: Got it. Thanks!

[2020-06-30 08:04] SathyaJayabal commented on #179
@callmekatootie @luizrrodrigues @sushilshinde, going forward  some challenges will have some submissions created using the legacy challenge id and some submissions created using the new UUID. How do we handle this?

[2020-06-30 11:14] callmekatootie commented on #179
@SathyaJayabal The API supports creation of submission using both legacy challenge id and v5 challenge id. We expect submissions created in the past using legacy challenge id to work as before and any new submissions created using v5 challenge id to also work just like the ones with legacy submission id.

This ticket is to introduce changes that intend to realize this.

[2020-06-30 11:31] SathyaJayabal commented on #179
@callmekatootie @sushilshinde , this would require the FE to query the submissions api using both the legacy id and the new UUID for a challenge to get all the submissions for the challenge right ?

As per the discussion with @sushilshinde , the FE should query with only the new UUID and the api should be able to return all submissions created for the challenge, either using legacy id or new UUID.

[2020-06-30 11:50] callmekatootie commented on #179
That is right. They would need to use the same id (legacy or v5) that was used during submission creation. But you can let me know the expectations here.

[2020-06-30 12:24] SathyaJayabal commented on #179
Sure. Let us get back to you.

[2020-06-30 13:50] rootelement commented on #179
@SathyaJayabal , this _shouldn't_ be an issue, because going forward after this release, everything should be working in UUIDs. So if the submission was created, it will have a UUID, and if we're retrieving old data, the system will look up the submission by that UUID and convert it to legacyId on the backend to get any related data. The only gray area will be if a submission was created in testin

[2020-06-30 13:54] rootelement commented on #179
@SathyaJayabal We're discussing if there's an easier option. Give us about an hour to decide

[2020-06-30 16:33] rootelement commented on #179
@luizrrodrigues

https://api.topcoder-dev.com/v5/challenges/8cabd850-7d44-4036-a5a1-90d38b7f7733

This has numbers now. I think this was originally part of the sync issue. These numbers should be updated by the challenge-processor-es when a submission is created or a user registers. When i click that link, i see numbers in registrants and submissions. Please confirm this is still an issue.

cc: @c

[2020-06-30 16:57] callmekatootie commented on #179
@luizrrodrigues The other issues that you have reported are now resolved. Could you kindly verify at your end and let me know if you still face any issues.

@sushilshinde @SathyaJayabal You can now pass either v5 or legacy challenge id for your queries. Submission API will convert the v5 challenge id to legacy and respond accordingly. The FE should now be able to work with both.

[2020-06-30 17:02] luizrrodrigues commented on #179
@callmekatootie @rootelement cool, thanks.
I'll always use UUID in FE, when trying access with legacyId in URL, FE will call challenge details first to get UUID and then make other calls with UUID.

I'll check shortly and report here.

[2020-06-30 17:10] rootelement commented on #179
Ok, we're updating to store the legacyId in the db. So if you pass in the uuid, it's translated, if you pass in the legacyId, it's used. @callmekatootie has pushed to dev and his tests pass. You should be able to use either.

[2020-07-01 02:16] luizrrodrigues commented on #179
@rootelement @callmekatootie

It looks like not working well.

**Tests:**

1. Challenge Id: `68a1cb52-a313-4130-8900-87a21959fdae`
- Able to submit and receive the return:
`POST https://api.topcoder-dev.com/v5/submissions/`
[code]
- But if request the submission to challenge this new submission not present:
`GET https://api.topcoder-dev.com/v5/submissions?challengeId=68a1cb52-a313-4130-8900-87a219

[2020-07-01 03:27] rootelement commented on #179
@luizrrodrigues when you upload a submission, don't pass `submissionPhaseId` - according to this code, it will get looked up if it's not passed:
https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionService.js#L376
Please try this test again.

[2020-07-01 03:29] rootelement commented on #179
It's storing a v5 uuid on the object, but the ES processor is looking up that v5 uuid in v4 and not finding it.

cc: @callmekatootie

The error from the submission-processor-es:
[code]

[2020-07-01 03:49] callmekatootie commented on #179
From the ES index:

[code]

So, if you are passing, it needs to be a number or do not pass it - and the api will retrieve it. I am guessing the new submission phase id is uuid. I will update the validation in the api to NOT accept uuids for submission phase id but do let me know if this is needed.

[2020-07-01 04:10] SathyaJayabal opened #186 "Initial and Final Scores"
@callmekatootie
The submissions tab displays the initial and final scores.
<img width="1440" alt="Screenshot 2020-07-01 at 9 35 00 AM" src="https://user-images.githubusercontent.com/58783823/86201853-3f454880-bb7e-11ea-9501-93b08872263e.png">

The submissions api returns various scores for different types of reviews. How can we get/map the initial and final score  values from the list of scores re

[2020-07-01 04:27] luizrrodrigues commented on #179
@callmekatootie Yes, only have UUID in phases.

So if don't pass `submissionPhaseId` will work or need to retrieve legacyId from phase in FE?

[2020-07-01 04:29] callmekatootie commented on #179
You don't have to pass it - submission api will retrieve it, based on the challenge id.

[2020-07-01 04:30] luizrrodrigues commented on #179
Okay, cool. I'll update and test.

[2020-07-01 09:38] luizrrodrigues commented on #179
@callmekatootie @rootelement Cool, looks good now.

[2020-07-01 14:42] callmekatootie commented on #186
@SathyaJayabal I'll have to check this out. Hope to get back to you soon

[2020-07-02 11:30] callmekatootie commented on #186
@SathyaJayabal Best to cross check with @rootelement but AFAIK, for review model, there is no concept of initial and final. We instead have another model called review summations - which is an aggregation of reviews. And on this model, there's a `isFinal` attribute that indicates if the aggregated score is the final score or not.

In contests, we usually have the reviewer submitting the review, an

[2020-07-02 11:32] SathyaJayabal commented on #186
@callmekatootie thanks

[2020-07-02 16:33] rootelement commented on #186
Mithun is correct. Additionally, there can be N number of reviewers on a submission. We have AV Scan, Human Reviewers, Code Quality Reviewers, Possibly Automated Reviewers. We're not going to because to show the split on the listing page. We may be able to (in the future) build a view where you can see each individual review. But as Mithun said, this is good enough for now.

[2020-07-03 04:17] SathyaJayabal commented on #186
@sushilshinde @Oanh-and-only-Oanh , we need to decide on what detail to display on the initial and final score column based on the above details.

@callmekatootie, is this review summations part of the submissions object returned by the submissions api.

[2020-07-03 04:44] callmekatootie commented on #186
Yes. If it exists for a submission, it is returned.

[2020-07-03 08:07] SathyaJayabal commented on #183
@lakshmiathreya, This is a blocker and does not allow the submissions submitted from V5 to be processed further. (eg: these submissions will not be visible in OR to be reviewed etc).

[2020-07-06 07:39] SathyaJayabal commented on #179
@callmekatootie, after this fix, I was able to verify the following on beta(prod backend)
1. Submissions made form V5 visible on submissions tab in challenge details
2. The submissions made from V5 was visible in Online review
3. Submission confirmation email was received on submission

But I was not able to verify the 2 and 3 in test env(dev backend)
Submissions made from V5 were seen in the subm

[2020-07-06 08:15] SathyaJayabal commented on #183
@callmekatootie @lakshmiathreya this issue is fixed in beta after fix for #179
We can now see the legacy submission id populated and also see the submission in OR.
This is an example submission made from V5- (beta)
<img width="1404" alt="Screenshot 2020-07-06 at 1 38 21 PM" src="https://user-images.githubusercontent.com/58783823/86571393-f1ba4880-bf8e-11ea-9558-75dc4a5d728b.png">

[2020-07-06 08:15] #183 closed

[2020-07-06 09:36] SathyaJayabal opened #188 "Submissions api returning error :Cannot read property 'allPhases' of undefined" sometimes"
@callmekatootie
https://github.com/topcoder-platform/community-app/issues/4628

[2020-07-06 09:39] callmekatootie commented on #179
@SathyaJayabal I am afraid not. I don't expect the issue to be with submission api - it could be with the dev instances of Online Review and the Email processor. If there's any additional information that you could provide (say - an example request that is failing in dev instance) I could look into it further

[2020-07-06 09:49] callmekatootie commented on #188
@rootelement I do not have authorization but could you kindly check the prod logs and see if there's an issue accessing the v5 challenge api or could you try this query `GET api.topcoder.com/v5/challenges/d9b51702-711f-4ee4-93ab-5af4271e83f3` with your auth.

The issue seems to be coming from when submission api is trying to read the phases of the contest... If the request is returning with data,

[2020-07-06 10:06] SathyaJayabal commented on #179
@callmekatootie, thanks. Like you said the issue could be with the dev instances of the OR or submissions or email processor.

[2020-07-06 10:23] callmekatootie commented on #188
@rootelement Was able to access the endpoints that I mentioned with help from `picachui`. Considering that the api uses m2m tokens to access the challenge details and the one I used were user tokens, could you check if the endpoints are accessible using the m2m tokens in prod?

[2020-07-06 10:24] callmekatootie commented on #188
The challenge in question basically requires the user to be part of the group, in order to access the details. While I do see [this code](https://github.com/topcoder-platform/challenge-api/tree/master/src/services#L31) checking if it's a m2m token or not, I am not sure about it and hence requesting to check once with the m2m token

[2020-07-06 15:37] Oanh-and-only-Oanh commented on #186
@SathyaJayabal, thanks for checking. We will go what @callmekatootie described above for the first release of challenge v5 api.

[2020-07-08 10:30] SathyaJayabal opened #189 "Submission emails link you to old url"
https://github.com/topcoder-platform/community-app/issues/4632

[2020-07-08 10:33] SathyaJayabal commented on #189
cc @callmekatootie

[2020-07-08 11:03] callmekatootie commented on #189
I am afraid I have to close the ticket - submission api does not send any emails and you would need to check with the processor that sends them out (not sure of the repo but submission api plays no role here)

[2020-07-08 11:03] #189 closed

[2020-07-08 11:04] callmekatootie commented on #179
Parent ticket (https://github.com/topcoder-platform/community-app/issues/4586) closed and thus closing this ticket too

[2020-07-08 11:04] #179 closed

[2020-07-08 12:25] SathyaJayabal commented on #189
cc @sushilshinde

[2020-07-08 14:31] rootelement commented on #188
I can get that challenge, it is in a group:
[code]

This call:
`api.topcoder.com/v4/challenges?filter=id=30131098`
returns nothing.

This call:
`api.topcoder.com/v4/challenges/30131098`
returns the challenge

[code]

All those requests are made with the challenge m2m in prod from postman.

I searched for that UUID in the submission logs, but I don't see anything. There's a chance the api restarted

[2020-07-14 10:41] callmekatootie commented on #188
@rootelement

So, I see 2 issues here:

1. The challenge api not returning data when we use `?filter=id=30131098` form
2. The response from `/challenges/:challengeId` does not contain `allPhases` attribute.

I am not sure if this is an issue with the challenge api (version 4) or not.

1. The query param `?filter=id=30131098` is something we have been using for long now. I am not sure if that is no

[2020-07-14 17:16] rootelement commented on #188
If you add the filter param, it's pulling from ES. If you leave off the param, it's pulling from the db directly (dynamo?). I believe allPhases is a calculated param in ES?

cc: @cwdcwd

[2020-07-15 08:55] lakshmiathreya commented on #188
@mtwomey @rootelement pls give us access to this Repo - 'lakshmiathreya' and 'SathyaJayabal'

[2020-07-16 14:46] #188 closed

[2020-09-18 05:47] callmekatootie opened #193 "[$300] Submission API | Updates to submission model"
- add a `submittedDate` to the submission data model
- add a `reviewedDate` to the reviews and reviewSummations data model
- update the swagger accordingly
- create/update access on the field is limited to admins only
- if not posted in w/ the payload (by and admin) the value of `submittedDate` or `reviewedDate` should default to the `createdDate`
- if there is no `submittedDate` or `reviewedDate`

[2020-09-18 05:50] rootelement opened #194 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-09-18 06:50] callmekatootie commented on #193
- [ ] Create submission WITHOUT the `submittedDate` value set as non admin user
- [ ] Create submission WITHOUT the `submittedDate` value set as admin user
- [ ] Create submission WITH the `submittedDate` value set as non admin user
- [ ] Create submission WITH the `submittedDate` value set as admin user

[2020-09-18 07:03] callmekatootie commented on #193
- [ ] Updated submission that DID NOT have `submittedDate` before - don't set any value to this attribute in the update
- [ ] Updated submission that DID NOT have `submittedDate` before - set any value to this attribute in the update
- [ ] Updated submission that DID have `submittedDate` before - don't set any value to this attribute in the update
- [ ] Updated submission that DID have `submittedD

[2020-09-18 14:21] callmekatootie commented on #193
@cwdcwd Changes are ready.

If you can confirm whether, for non admin users, during record creation, should the created date be used for the reviewedDate / submittedDate attribute fields, then I can merge the changes in.

For my current changes, I have it such that only if admin user creates the record, the attribute value is set.

[2020-09-18 15:15] callmekatootie commented on #193
:+1: Gotcha. Corrected

[2020-09-21 16:02] rootelement commented on #193
Contest https://www.topcoder.com/challenges/30142843 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-21 16:02] rootelement commented on #193
Contest https://www.topcoder.com/challenges/30142843 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-21 16:02] #193 closed

[2020-09-21 16:05] rootelement commented on #193
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142843<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-04 03:47] jmgasper opened #200 "Error when attempting to pull submissions for draft challenge"
Is there any reason why we might see this error?

![101112047-11719d80-360f-11eb-9ede-658302c827ff](https://user-images.githubusercontent.com/21790/101119532-a42a3080-363f-11eb-9be7-7ec862c4d59f.png)

[2020-12-04 03:50] callmekatootie commented on #200
@jmgasper Could you share that challenge id so that I can easily copy it

[2020-12-04 03:51] jmgasper commented on #200
@callmekatootie - I've asked the dev to provide it, thanks!

[2020-12-04 03:52] callmekatootie commented on #200
No that's ok... I'll type it over... Was looking for a quicker approach :)

[2020-12-04 04:01] callmekatootie commented on #200
@jmgasper There does not seem to be a legacyId for that challenge. Not saying that is the cause of it but that does seem suspect.

Trying to get hold of the dev logs to see if I am right - facing some issues. Checking with the devops team...

Will keep you posted

[2020-12-04 04:02] jmgasper commented on #200
@callmekatootie -` f48ee070-9afd-4876-bf7b-53e9594d2d7f`

[2020-12-04 06:01] callmekatootie commented on #200
@jmgasper I am still trying to get my hands on the logs but here is my observation:

- the challenge id is a v5 challenge id. Submission API only works with legacy challenge id and thus, it attempts to retrieve the legacy challenge id
- This attempt should fail, because from what I see, GET `https://api.topcoder-dev.com/v5/challenges/f48ee070-9afd-4876-bf7b-53e9594d2d7f` does not return the legacy

[2020-12-05 03:56] callmekatootie commented on #200
@jmgasper Did the above approach work?

[2021-01-07 13:45] lakshmiathreya commented on #181
@luizrrodrigues @sushilshinde @SathyaJayabal can we close this?

[2021-01-07 13:55] SathyaJayabal commented on #181
@lakshmiathreya , we can close this as for not logged in users we now donot show the submissions tab itself, so we do not need this update

[2021-01-07 13:55] #181 closed

[2021-02-01 11:32] Sande3p opened #202 "TC API: Fix these issues raised during the review"
## Env:
Base branch: [develop-temp](https://github.com/topcoder-platform/submissions-api/tree/develop-temp)

## Requirement
1. The helper.getPhaseStatus should use phases' isOpen and dates to determine status, no need to use challengeDetails.status.
See:
https://discussions.topcoder.com/discussion/2041/clarification-regarding-challenge-phase-data
"avoid using challengeDetails.status"

2. The helpe

[2021-02-01 11:44] Sande3p opened #203 "TC API: Fix lint error"
## Env:
Base branch: develop-temp

## Requirements
Fix all the lint errors

[2021-02-01 11:53] Sande3p opened #204 "TC API: Update unit test"
## Env:
Base branch: [develop-temp](https://github.com/topcoder-platform/submissions-api/tree/develop-temp)

## Requirement
Update unit test cases based on the newer update done to migrate to v5.

[2021-02-02 18:37] Sande3p opened #205 "TC Design: Work-manger Payment"
## Env
Sketch

## Resources
Design: https://drive.google.com/file/d/1Pat26ujEa56IaKsa66V3kFaNeQ_aFu10/view?usp=sharing

## Requirements
Design the new payment page. It should be similar to this: https://payment.topcoder.com/
**Dashboard**
The page is going to be part of the existing work-manager https://i.imgur.com/D3UdYGQ.jpg . It should have the following page.
- [ ] **Switch Project section**:

[2021-02-02 18:55] sachin-maheshwari commented on #205
@Sande3p I think you should create it in "work-manager" repo https://github.com/topcoder-platform/work-manager ?

[2021-02-02 19:01] Sande3p commented on #205
@sachin-maheshwari it's a task, I'll do the payment later by creating a task in workmanger.

This is stable, easier & faster to add edit the requirement,  Without going through a number of steps.

[2021-02-02 19:22] sachin-maheshwari commented on #205
@Sande3p I am not talking about "payment", you are creating here as "git issue", i think you should create in another appropriate git repo i.e. https://github.com/topcoder-platform/work-manager

[2021-02-04 07:09] Sande3p commented on #205
Thanks @sachin-maheshwari  for the link, I'll move it there

[2021-02-04 07:32] #205 closed

[2021-02-04 07:36] Sande3p opened #207 "TC API: Submission API end point error"
## Requirements

When I open this [challenge]https://www.topcoder-dev.com/challenges/d80a5399-96ae-418f-a2f0-f8612010a235) without registering, I can open this. However, if I register & open [this](https://www.topcoder-dev.com/challenges/d80a5399-96ae-418f-a2f0-f8612010a235) I get an error becasue of this end ponit `GET {{URL}}/submissions?challengeId=d80a5399-96ae-418f-a2f0-f8612010a235`.
Please

[2021-02-05 15:14] #204 closed

[2021-02-05 15:14] #203 closed

[2021-02-05 15:14] #202 closed

[2021-02-09 05:18] callmekatootie opened #209 "NPM script to store v5 challenge id for current records"
- [ ] Npm script that
- takes EACH submission record in the database (dynamodb)
- creates a new attribute `legacyChallengeId` for the record
- copies the current `challengeId` value to the `legacyChallengeId`
- Calls v5 submission `GET https://api.topcoder-dev.com/v5/challenges?legacyId=challengeId` and gets the equivalent v5 challenge id for the legacy challenge id
- Stores this v5 id under `chal

[2021-02-09 06:15] Sande3p commented on #207
payment is done: http://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30166622

[2021-02-09 06:16] #207 closed

[2021-02-09 06:21] callmekatootie commented on #209
Assigned to @xxcxy

[2021-02-10 07:02] callmekatootie commented on #209
Paid out in http://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30166912

[2021-02-10 07:02] #209 closed

[2021-02-10 07:16] callmekatootie opened #210 "Pass swapped details in api response and bus api"
Assume that we have run the script created in this ticket - https://github.com/topcoder-platform/submissions-api/issues/209

This means that, in dynamodb (and elasticsearch - yet to make changes for ES, but assume that ES and Dynamodb are in sync):

`challengeId` - now contains v5 challenge Id
`legacyChallengeId` - now contains the legacy challenge id.

Now, when we make an api request to submissi

[2021-02-10 10:26] drasticdpk opened #211 "Submissions are not reflected in OR app"
submission is not reflection on OR, so we are having post mortem Phase.

**Reference**
Challenge : https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058263

https://monosnap.com/file/8oWBMqxFZcXICskVeC3L92NfhYpMXI
**used user**
Copilot : TonyJ
User : tester1234

cc @callmekatootie @SathyaJayabal

[2021-02-10 12:21] drasticdpk opened #212 "Unable to make Submission"
**Reference** :
![image](https://user-images.githubusercontent.com/25297859/107509479-bc33a880-6bca-11eb-85a2-c99d299aca84.png)

![image](https://user-images.githubusercontent.com/25297859/107509189-43cce780-6bca-11eb-8891-a0745492ee68.png)

**Challenge** : https://www.topcoder-dev.com/challenges/cfc3f821-64e4-4585-8fdc-744928d2bc9f?tab=registrants

**User** : tester1234/appirio123

[2021-02-11 09:09] callmekatootie commented on #210
Resolved. Paid @xxcxy https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30167229

[2021-02-11 09:09] #210 closed

[2021-02-12 07:36] callmekatootie opened #214 "DB to ES migration script issue"
Currently, the db to es migration script is not fetching all the records.

For example, in the Submission table, we have 5000+ records - yet only about 2500 - 3000 of them are being returned.

[2021-02-12 08:45] callmekatootie commented on #214
Fix db to es script to use bulk upsert instead - https://github.com/topcoder-platform/submissions-api/blob/develop/scripts/migrateFromDBToES.js

[2021-02-15 10:45] sachin-maheshwari commented on #211
@drasticdpk please verify now.

[2021-02-15 10:46] sachin-maheshwari commented on #211
There was legacy syncing issue, so please verify on new submission.

[2021-02-15 10:50] sachin-maheshwari commented on #212
@drasticdpk you can verify now.

[2021-02-15 10:51] sachin-maheshwari commented on #214
@callmekatootie can we close this ?

[2021-02-15 15:15] coderhacker commented on #212
QA Comments: this is pass on dev env

https://user-images.githubusercontent.com/62358241/107963830-a6f5ba00-6fce-11eb-8ccb-3da433901feb.mp4

[2021-02-15 15:15] coderhacker commented on #212
CC @drasticdpk @lakshmiathreya

[2021-02-15 15:17] coderhacker commented on #211
QA Comments: this is pass on dev env.
![image](https://user-images.githubusercontent.com/62358241/107964067-f1773680-6fce-11eb-9db1-343395e1c06e.png)
cc @drasticdpk  @lakshmiathreya

[2021-02-16 06:06] drasticdpk commented on #211
@sachin-maheshwari closing this. Please update respective (QA Pass) label, since we don't have permission for that either please add us.

[2021-02-16 06:06] drasticdpk commented on #212
@sachin-maheshwari closing this. Please update respective (QA Pass) label, since we don't have permission for that either please add us.

[2021-02-16 06:07] drasticdpk commented on #214
It seems this issue could not test from our end (QA) cc @sachin-maheshwari @lakshmiathreya

[2021-02-16 06:14] lakshmiathreya commented on #212
@drasticdpk since it's a P0 - let close only after Prod release ...

[2021-02-16 06:20] sachin-maheshwari commented on #214
@drasticdpk correct, that's why i mentioned @callmekatootie.

[2021-02-16 10:43] callmekatootie commented on #214
Closing... PAID through http://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30168403

[2021-02-16 10:43] #214 closed

[2021-02-16 10:45] callmekatootie commented on #200
Closing due to non activity. Please reopen if the issue persists.

[2021-02-16 10:45] #200 closed

[2021-02-16 15:34] drasticdpk opened #215 "Unable to download submission from OR"
**Reference** :
https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058299

User : jcori/appirio123

![image](https://user-images.githubusercontent.com/25297859/108084623-86943100-709c-11eb-988a-e5405dd7fec9.png)
![image](https://user-images.githubusercontent.com/25297859/108084658-914ec600-709c-11eb-811a-fe0732a4ea7d.png)

[2021-02-16 15:45] sachin-maheshwari commented on #215
@lakshmiathreya that should be existing issue, please move to appropriate git repo and assign to corresponding owner.
Example -  https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30055234 This is old submission, which is also not downloadable. CC @mtwomey
<img width="680" alt="Screenshot 2021-02-16 at 9 14 52 PM" src="https://user-images.githubusercontent.com/6467888/10808610

[2021-02-16 15:49] drasticdpk commented on #215
@sachin-maheshwari,
Let me create this issue in community app repo too. Let them investigate the root cause.  After that we can close it.

[2021-02-17 08:06] drasticdpk commented on #215
Moved this ticket  to https://github.com/topcoder-platform/tc-online-review

[2021-02-25 10:33] callmekatootie opened #218 "[$50] In update challenge id script, log failed records to console"
[Script](https://github.com/topcoder-platform/submissions-api/blob/develop/package.json#L17)

In this script, we are facing an issue where, when we fetch the details of a challenge using legacy id, the api call to challenge api, on some occasion is failing.

We would like to catch the error gracefully - script must not stop and continue to execute the other api calls / processor other records.

Th

[2021-02-25 10:34] callmekatootie commented on #218
Assigned to @xxcxy

[2021-02-27 06:09] callmekatootie commented on #218
PAID https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30170244

[2021-02-27 06:09] #218 closed

[2021-02-27 06:14] callmekatootie opened #221 "[$150] Update challenge id of only latest records"
Continuing from https://github.com/topcoder-platform/submissions-api/issues/218

We created a script that would update the current legacy challenge id in the submission records to v5.

We would like to update this script to only read and update the latest submission records.

- Instead of fetching all submission records from dynamodb, you would instead fetch the latest challenges using endpoint `h

[2021-02-27 06:22] callmekatootie commented on #221
Assigned to @xxcxy

[2021-02-28 08:31] callmekatootie opened #223 "[$100] New script to update challenge id"
New script to be created on the same lines as current script that updates legacy challenge id to v5 challenge in in the submission records.

Difference is that while old script filters in the database request, new script will fetch all records and filter the records in the code during runtime.

Assigned to @xxcxy

[2021-03-01 09:53] drasticdpk commented on #211
**Verified**

![image](https://user-images.githubusercontent.com/25297859/109480893-36599d80-7aa4-11eb-95e5-ea452c0a929d.png)

[2021-03-01 09:53] #211 closed

[2021-03-01 09:56] drasticdpk commented on #212
**Prod verified.**
![image](https://user-images.githubusercontent.com/25297859/109481063-686aff80-7aa4-11eb-9e50-16f249e63cff.png)
![image](https://user-images.githubusercontent.com/25297859/109481156-89335500-7aa4-11eb-9282-df64c8e1c250.png)

[2021-03-01 09:56] #212 closed

[2021-03-02 05:29] callmekatootie commented on #221
PAID https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30171073

[2021-03-02 05:29] #221 closed

[2021-03-02 05:29] callmekatootie commented on #223
PAID https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30171073

[2021-03-02 05:29] #223 closed

[2021-03-02 17:05] #215 closed

[2021-03-02 17:07] drasticdpk opened #226 "Unable to make submission"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/109686004-f41a8400-7ba9-11eb-869e-79865ed8acef.png)

[2021-03-03 03:50] drasticdpk commented on #226
**Verified on Dev**

![image](https://user-images.githubusercontent.com/25297859/109750004-c3673880-7c03-11eb-8519-09d1ec182f46.png)

[2021-03-03 06:11] drasticdpk commented on #226
Verified on Prod env.
![image](https://user-images.githubusercontent.com/25297859/109760792-69706e00-7c17-11eb-89fc-4b61260db4e8.png)

[2021-03-03 11:20] #226 closed

[2021-03-10 05:34] callmekatootie opened #228 "[$100] Update migrate db to es script to store reviews and review summations under submissions"
Our [db to es migration script](https://github.com/topcoder-platform/submissions-api/blob/develop/scripts/migrateFromDBToES.js) does not store the reviews and review summations under submissions.

Check out how ES processor does it - https://github.com/topcoder-platform/submission-processor-es/blob/develop/src/services/ProcessorService.js#L44_L71

Expecting similar for the db to es migration scrip

[2021-03-17 09:30] drasticdpk opened #231 "Multiple submissions for development challenge."

[2021-03-17 09:31] drasticdpk commented on #231
Verification file : https://docs.google.com/spreadsheets/d/1snA3TU1iYjkRjIDYv0dTKI6P55l9K69J2LiaHq-WmlQ/edit?usp=sharing

[2021-03-17 09:31] #231 closed

[2021-03-17 09:33] drasticdpk commented on #231
Note ,
Hello Team,
Originally this issue was raised at https://github.com/topcoder-platform/legacy-submission-processor/issues/4#issuecomment-799090674

[2021-03-17 13:11] lakshmiathreya commented on #231
This Issue records the resolution post revert of Legacy submission processor.

[2021-03-20 04:33] callmekatootie commented on #228
Fxied.

PAID by @rootelement

[2021-03-20 04:33] #228 closed

[2021-03-24 03:03] callmekatootie commented on #182
Assigned to @xxcxy

[2021-03-26 12:48] callmekatootie commented on #182
Changes in `develop` branch.

PAID https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30175806

[2021-04-14 08:28] ketzjs09 opened #235 "Permanent fix required for the issue of submission download failure"
Almost in every other review, I face a situation where some submissions don't download and I get a message _"An error has occurred when attempting to process your request."_

The only way to fix these is to copy the links and to write an email to the support.

This is unsustainable in the long run and adds to the work load and at times disrupts the daily schedule of the reviewer. A permanent solut

[2021-06-25 16:19] callmekatootie opened #241 "Pass url attribute to the bus api when updating a submission"
Also pass `legacyChallengeId`.

Needed for the [OR review processor](https://github.com/topcoder-platform/or-review-processor) to work

[2021-06-29 08:14] callmekatootie commented on #241
After discussion with @cwdcwd , reverting the change made for `url` attribute - any service that needs the `url` attribute on update would need to query submission api to get latest value for that attribute instead of depending on the message (since the `url` attribute can change by the time the message is processed)

[2021-06-29 15:25] callmekatootie commented on #241
PAID - https://challenges.topcoder.com/projects/28352/challenges/85d18cfe-6f4a-4f98-836b-98505102b7c5/view

[2021-06-29 15:25] #241 closed

[2021-07-26 17:23] callmekatootie opened #243 "Update permissions on review route"

[2021-08-20 14:22] callmekatootie opened #246 "Supporting v5 scorecard id"
We tried to update `scorecardId` to support both v5 and legacy but ES complained - it seems to have already mapped `scorecardId` to a number and thus does not support uuids for that field.

As of now, we intend to keep `scorecardId` as a legacy scorecard id and have a new field named `v5ScorecardId` to support uuids.

Logging this ticket as a tech debt

[2021-08-21 06:07] callmekatootie commented on #246
Tests to carry out for the new field:

**Query for Reviews**

- [ ] GET /reviews?scoreCardId with legacy scorecard id - Should work. The returned reviews should contain legacy scorecard id and may or may not contain v5 scorecard id
- [ ] GET /reviews?scoreCardId with v5 scorecard id - Should work. The returned reviews should contain legacy scorecard id as well as v5 scorecard id
- [ ] GET /reviews

[2021-09-01 07:53] callmekatootie opened #249 "Support submission creation in Approval phase of Design"
For pure v5 design challenges, in approval phase, winner is expected to upload a final fix.

Currently, api allows winner to upload submission only in Final Fix phase - support Approval phase too.

[2021-10-05 12:49] codejamtc opened #252 "Postman collection is not up to date for the v5"
Current postman collection is not up to date for the v5

[2021-10-29 11:57] callmekatootie opened #253 "Handle pure v5 challenge ids"
[Reference](https://github.com/topcoder-platform/community-app/issues/5744)

[2021-10-29 20:08] #253 closed

[2021-10-30 10:33] lakshmiathreya commented on #253
@ThomasKranitsas - can you create a milestone named 1.1.4 and move this Issue under that? This is to ensure traceability between Release tag <-> Milestone <-> Closed Issues ...

[2022-01-12 11:19] ThomasKranitsas opened #258 "API expects review score to be number but it's being saved as string"
Please see the screenshot below:

<img width="1494" alt="Screenshot 2022-01-12 at 1 18 10 PM" src="https://user-images.githubusercontent.com/4612921/149130563-a9b69dbe-6fef-4478-8610-8f7d8cd6c530.png">

The API correctly expects the score to be a number but there are many review objects with score saved as a string:
<img width="1494" alt="Screenshot 2022-01-12 at 1 19 12 PM" src="https://user-imag

[2022-01-28 16:57] callmekatootie opened #260 "Design track does not have appeals response phase"
Reporter: @ThomasKranitsas

They received an error when trying to download submissions that belong to a design challenge. [Error](https://user-images.githubusercontent.com/58783823/151539629-702085e0-8277-47b5-83c8-88bc3aefe3c9.png)

Since design track does not have appeals response phase, we shouldn't be running this check for the design track.

[2022-02-08 17:12] callmekatootie commented on #260
Resolved.

[2022-02-08 17:12] #260 closed

[2022-02-08 17:13] callmekatootie opened #266 "Allow Client Manager to download submissions"
Reporter: @ThomasKranitsas

Currently, users with role of `Client Manager` are not allowed to download submissions. Need to add them to the white list.

[2022-02-10 09:16] rakibansary opened #270 "Malicious submissions should not be available for download in Submission Review or OR"
Submissions that are flagged by av-scanner-service as infected are still available for download in submission review. Additionally it looks like for infected files no email notification saying the submission is infected is sent out.

[2022-02-10 09:49] rakibansary commented on #270
@lakshmiathreya

1. Need to Check/Confirm if there's a proper email template available for malicious submissions. Generally for good files, an email with a review score of 100/100 is sent out. For a bad file, I only received an email saying a review type of "Virus Scan" was performed on the file, but no final update was given.
2. Should there be any mechanism to mark/keep track of users who upload

[2022-03-18 11:14] SathyaJayabal opened #273 "https://topcoder.atlassian.net/browse/PLAT-790"
https://topcoder.atlassian.net/browse/PLAT-790

[2022-03-18 11:18] SathyaJayabal commented on #273
verified
<img width="1440" alt="Screenshot 2022-03-18 at 4 48 17 PM" src="https://user-images.githubusercontent.com/58783823/158993940-933cb34b-a5cb-4998-84e7-aa7eb8452761.png">

[2022-03-21 04:49] SathyaJayabal commented on #273
User is able to submit for a task they are a reviewer of
example https://challenges.topcoder-dev.com/projects/20153/challenges/8db2249f-b637-4ad2-b7fb-e2e8d877c2ec/view:

[2022-03-22 11:52] SathyaJayabal commented on #273
verified for task, f2f and challenge
https://docs.google.com/spreadsheets/d/1zHO3upydBs1dwbmdO_rhQZv9SPxKEYhE5UGpDVko7v4/edit#gid=421405351

[2022-03-23 14:17] SathyaJayabal commented on #273
verified on prod
<img width="1438" alt="Screenshot 2022-03-23 at 7 43 27 PM" src="https://user-images.githubusercontent.com/58783823/159720268-25546799-e1bf-4ace-9a67-e8f6e5a1d48e.png">

[2022-03-23 14:17] #273 closed

[2022-05-19 14:48] vas3a opened #285 "CORS - expose `X-` headers"
When doing a CORS request and trying to access the `X-` headers (Eg. `X-Total`) from the response, I'm getting blocked by the CORS policies.

Can we have the `X-` headers exposed for easy access? eg. using `Access-Control-Expose-Headers`.

This is mostly useful in instances where we only need just the headers (HEAD requests) and not the actual body.

Thanks!

[2022-08-09 14:26] jmgasper opened #288 "Allow submitters to delete their own submissions"
We have added back in the ability for designers to delete their submissions (https://github.com/topcoder-platform/community-app/issues/6602)

This functionality is in the community app now, but isn't currently working because the DELETE to https://api.topcoder-dev.com/v5/submissions/{submission ID} is returning a message like:

[code]

We should allow submitters to delete their own submissions.

#

[2022-09-11 08:54] #288 closed

[2022-09-11 08:57] jmgasper opened #290 "Add legacyId to submission delete Kafka message"
### Problem

When deleting a submission, we currently raise a message in the Kafka queue named `submission.notification.delete`.

Currently, this message *only* contains the v5 submission ID, *not* the legacyId.  The legacyId is also important for the v3 API to be able to handle the submission delete message successfully.

### Solution

The message raised to `submission.notification.delete` must b